# Что еще за Python ?

<img src='https://romain.dorgueil.net/images/python.png' align='left'>


* #### Язык общего назначения
* #### Интерпретируемый 
* #### С динамической типизацией
* #### Объекто-ориентированный - в питоне все объекты

#  Зачем нам Python?
<br><br>

* #### Причины популярности
* #### Сравнение с другими языками
* #### Востребованы ли профессионалы, умеющие работать с ним?
* #### Насколько он сложен в освоении?


<br><br>

<hr>

#  Вопросы к слушателям
<br><br><br>
1. #### <s>Какие цели вы ставите, придя на курс?</s> Как вы планируете его использовать в работе?
2. #### Какие языки программирования знаете?
3. #### Работали с данным языком?
<br><br><br>
<hr>

# Предки Python
Питон произошел в начале 90х из языков программирования ABC и Modula 3

<img src='img\evolution.png' align='left'>

## Автор питона и BDFL

* <a href='https://gvanrossum.github.io'>Гвидо Ван Россум</a> <a href='https://docs.python.org/3.3/glossary.html#term-bdfl'>(BDFL) </a>
 
<img src='https://avatars2.githubusercontent.com/u/2894642?s=400&v=4' align='left'>

# Версии Python

*  2.7 (old school)
*  3.7 (new school)

<img src='img\IMG_3315.jpg' align='left'>

# Напутствия кодерам

### PEP 8 - Style Guide for Python Code

* <a href="https://www.python.org/dev/peps/pep-0008/">оригинал на python.org</a>
* <a href="https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html">версия на русском</a>

### PEP 20 - The Zen of Python

* <a href="https://www.python.org/dev/peps/pep-0020/">оригинал на python.org</a>

Красивое лучше, чем уродливое. <br>
Явное лучше, чем неявное. <br>
Простое лучше, чем сложное. <br>
Сложное лучше, чем запутанное. <br>
Плоское лучше, чем вложенное. <br>
Разреженное лучше, чем плотное. <br>
Читаемость имеет значение. <br>
Особые случаи не настолько особые, чтобы нарушать правила. <br>
При этом практичность важнее безупречности. <br>
Ошибки никогда не должны замалчиваться. <br>
Если не замалчиваются явно. <br>
Встретив двусмысленность, отбрось искушение угадать. <br>
Должен существовать один — и, желательно, только один — очевидный способ сделать это. <br>
Хотя он поначалу может быть и не очевиден, если вы не голландец. <br>
Сейчас лучше, чем никогда. <br>
Хотя никогда зачастую лучше, чем прямо сейчас. <br>
Если реализацию сложно объяснить — идея плоха. <br>
Если реализацию легко объяснить — идея, возможно, хороша. <br>
Пространства имѐн — отличная штука! <br>
Будем делать их побольше!<br>

In [1]:
# Если вдруг потребуется дзен, его можно загрузить с помощью модуля this
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Комментарии

In [2]:
type(4.5)
print('Hi')

Hi

In [4]:
# """
# Привет
# """

## Основные  типы данных

* Число(int, float) # 1 и 2.5 
* Строка (str) # ‘stroka’ 
* Булево (True, False)
* None

### Boolean (проще говоря да или нет)

In [5]:
True

True

In [6]:
False

False

In [7]:
True == True

True

In [8]:
not True == False

True

# Операторы

* Присвоение = <br>
* Сложение +
* Вычитание -
* Деление /
* Целочисленное деление //
* Остаток от деления %
* Возведение в степень **
* Умножение *

# Python как калькулятор

In [9]:
# Сложение и вычитание
print(5 + 5)
print(5 - 5)

10
0

In [10]:
# Произведение и деление 
print(3 * 5)
print(10 / 2)

15
5.0

In [13]:
# Возведение в степень
print(4 ** 2)

16

In [14]:
# Остаток от деления
print(18 % 7)

4

In [15]:
# Как увеличатся твои 100 долларов через 7 лет при ставке 10%?
print(100*(1.1**7))

194.87171000000012

### Integer, Float

In [20]:
30

30

In [21]:
30 + 10 / 2 - 5 * 1 ** 2

30.0

In [22]:
30 % 4

2

In [23]:
30 // 4

7

### String

In [25]:
'Ciao " bella'

'Ciao " bella'

In [26]:
"Ciao bella! " * 2

'Ciao bella! Ciao bella! '

In [27]:
'Ciao' + ' bella!'

'Ciao bella!'

In [28]:
' '.join(['Ciao','bella!'])

'Ciao bella!'

In [29]:
'Ciao bella!'[1]

'i'

In [34]:
'Ciao bella!'[::]

'Ciao bella!'

# Пример для практики

In [46]:
# Дана строка s - "У Мэри есть овечка"
s = "У Мэри есть овечка"

In [47]:
# Выведите первый элемент строки s
s[0]

'У'

In [37]:
# Выведите предпоследний элемент строки s
s[-2]

'к'

In [38]:
# Выведите с 7 по 10 элементы строки s
s[6:10]

' ест'

In [42]:
# Выведите каждый второй элемент с 1 по 8 
s[:8:2]

'УМр '

In [43]:
# Выведите каждый 4й элемент строки 
s[::4]

'Урсок'

In [44]:
# Разверните строку в обратную сторону(поменяйте символы местами чтобы 1й стал последним и так далее)
s[::-1]

'акчево ьтсе ирэМ У'

In [45]:
# Разделить строку по пробелу и объединить обратно по символу "_"
'_'.join(s.split(' '))

'У_Мэри_есть_овечка'

In [48]:
s.split(' ')

['У', 'Мэри', 'есть', 'овечка']

# Переменные

* Тип переменной определяется при исполнении <br>
* Названия переменных чувствительны к регистру <br>
* Переменная задается присвоением:

In [49]:
a = 1 
b = 'stroka'
c = True

In [50]:
type(a)

int

In [51]:
type(b)

str

In [19]:
type(c)

bool

Переменная, которой не задано значение, не существует:

In [53]:
z

NameError: name 'z' is not defined

# Пример для практики

In [ ]:
savings = 100
factor = 1.1
desc = "compound interest"

In [55]:
# Присвойте переменной year1 произведение  savings и factor
year1 = savings * factor

In [56]:
# Выведите тип переменной year1
type(year1)

float

In [57]:
# Присвойте doubledesc сумму переменной desc и desc

doubledesc = desc + desc

In [58]:
# Выведите doubledesc

doubledesc

'compound interestcompound interest'

# Еще один практический пример

In [68]:
# Даны переменные a = 5 и b = 10
# Поменять значения переменных местами. Вывести новые значения на экран.
# Решите задачу, используя только две переменные.

a = 5
b = 10
a,b = b,a
print(a,b)

10 5

# Коллекции, контейнеры или струкутруы данных

### Список

In [3]:
list()

[]

In [69]:
type([])

list

In [70]:
x = []

In [72]:
x

[]

In [73]:
x = ['Hi', True, 12, 3.4, 4, 4, 4, 4]

In [8]:
x[0]

'Hi'

In [75]:
x[-8]

'Hi'

In [76]:
# Добавляем элемент в список
x.append('3')

In [77]:
x

['Hi', True, 12, 3.4, 4, 4, 4, 4, '3']

In [78]:
# Расширяет список, добавляя в него элементы списка из аргумента
x.extend(['10'])

In [79]:
y = ['r','3']

In [80]:
x + y

['Hi', True, 12, 3.4, 4, 4, 4, 4, '3', '10', 'r', '3']

In [12]:
# Для получения индекса элемента используется метод index
x.index('3')

8

In [81]:
# Для удаления элемента из списка используется метод remove
x.remove('3')
x

['Hi', True, 12, 3.4, 4, 4, 4, 4, '10']

In [82]:
# Также может использоваться функция del
del(x[0])
x

[True, 12, 3.4, 4, 4, 4, 4, '10']

In [85]:
# Для добавления элемента в список может использоваться метод insert 
# в качестве аргументов он принимает индекс позиции и значение, которое добавляем
x.insert(0,'hello')

In [86]:
x

['hello', 'hello', True, 12, 3.4, 4, 4, 4, 4, '10']

In [88]:
# Метод pop удаляет элемент из списка по индексу и выводит его
x.pop(1)

True

In [38]:
x.pop()

['hello', True, 3.4, 4, 'hello', 'hello', '10']

In [91]:
# Метод reverse переворачивает список и возвращает None
x.reverse()

In [92]:
x

['hello', 12, 3.4, 4, 4, 4, 4, '10']

In [93]:
# Списки можно сортировать с помощью метода sort
y = [1,5,2,4,3,6,0]
y.sort()
y

[0, 1, 2, 3, 4, 5, 6]

In [94]:
# Также для списков доступны функции min, max, sum
print(max([1,2,3,4,5,6,7]))
print(min([1,2,3,4,5,6,7]))
print(sum([1,2,3,4,5,6,7]))

7
1
28

In [98]:
y = ['a','b','c','z','k']
y.sort(reverse=True)
y

['z', 'k', 'c', 'b', 'a']

In [99]:
# Длину списка можно узнать с помощью функции len
print(len([1,2,3,4,5,6,7]))

7

# Практический пример

In [100]:
# Допустим у нас есть список площадей areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0,  # 1 этаж
         "bedroom", 10.75, "bathroom", 9.50]                      # 2 этаж

# Присвойте переменной downstairs все что находится на 1 этаже
downstairs = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0]

In [101]:
# Присвойте переменной upstairs все что находится на 2 этаже
upstairs = ["bedroom", 10.75, "bathroom", 9.50]

In [102]:
# Выведите переменные downstairs и upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [104]:
# Присвойте переменной downstairs все что находится на 1 этаже альтернативным способом

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]

In [107]:
# Присвойте переменной upstairs все что находится на 2 этаже альтернативным способом 
upstairs = areas[6:]
upstairs

['bedroom', 10.75, 'bathroom', 9.5]

Еще немного практики на тему площадей

In [108]:
# Переменные, для измерения площади помещения, в квадратных метрах)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [109]:
# Информация о доме - список со списками
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

In [110]:
# Выведите переменную house
house

[['hallway', 11.25],
 ['kitchen', 18.0],
 ['living room', 20.0],
 ['bedroom', 10.75],
 ['bathroom', 9.5]]

In [111]:
# Выведите тип переменной house

type(house)

list

In [112]:
# Выведите первый элемент переменной house
house[0]

['hallway', 11.25]

In [114]:
# Выведите размер спальни из переменной house
house[3][1]

10.75

In [116]:
# Присвойте переменной eat_sleep_area площать гостиной и спальнии из переменной house

eat_sleep_area = house[3][1] + house[2][1]
eat_sleep_area

30.75

И снова немного площадей

In [139]:
# Допустим у нас есть лист areas
areas = ["hallway", 11.25, "kitchen", 18.0,
         "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Скорректируйте площадь ванной комнаты на 10.50
areas[-1] = 10.50
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

In [140]:
# Поменяйте название гостиной "living room" to "chill zone"
areas[4] = "chill zone"

In [141]:
# Добавьте бильярдную "poolhouse" размером 24.5 к списку areas 
# присвойте результат в новый список - переменную areas_1
areas.extend(["poolhouse", 24.5 ])
areas_1 = areas

In [144]:
# Добавьте гараж ["garage"] в виде отдельного списка к списку areas_1
# добавьте также его площадь в виде отдельного списка ['15.45']
# Присвойте результат переменной areas_2
areas_2 = areas_1 + ["garage"] + [15.45]
# areas_2

In [145]:
areas_1 = areas.copy()

In [163]:
x = [[1],[2],[3]]

In [165]:
y = deepcopy(x)

[[1], [2], [3]]

In [155]:
y.remove([1])

In [167]:
y[0][0]=5

y

[[5], [2], [3]]

In [162]:
from copy import deepcopy

In [146]:
areas_1.remove('poolhouse')

In [147]:
areas_1

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5,
 24.5]

### Кортеж

Кортеж - это неизменяемый список

In [57]:
# Кортеж задается командой tuple()
tuple()

()

In [169]:
tuple(['Hi', True, 12, 3.4])

('Hi', True, 12, 3.4)

In [170]:
x = tuple(['Hi', True, 12, 3.4])

In [171]:
# Доступ к элементам кортежа осуществаляется по индексам
x[3]

3.4

In [172]:
# Но изменять содержимое кортежа не получится
del(x[1])

TypeError: 'tuple' object doesn't support item deletion

In [173]:
x[-1] = 5

TypeError: 'tuple' object does not support item assignment

In [175]:
x = 'строка'

### Словарь

Прелюдия к словарям

In [176]:
# Даны два списка - страны и соответствующие им столицы
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Присвойте идекс Германии в переменную ind_ger
ind_ger = countries.index('germany')

In [177]:
# Выведите столицу Германии с помощью переменной ind_ger
capitals[ind_ger]

'berlin'

In [27]:
# Словарь задается с помощью команды dict() или фигурных скобок 
dict()

{}

In [178]:
# 1. Вариант
{'пиво': ['стаут', 'лагер', 'эль'],
 'вино':['белое', 'красное','розовое']}

{'пиво': ['стаут', 'лагер', 'эль'], 'вино': ['белое', 'красное', 'розовое']}

In [182]:
# 2. Вариант
dict(пиво = ['стаут', 'лагер', 'эль'], вино =['белое', 'красное','розовое'] )

{'пиво': ['стаут', 'лагер', 'эль'], 'вино': ['белое', 'красное', 'розовое']}

In [179]:
drinks = {'пиво': ['стаут', 'лагер', 'эль'], 'вино':['белое', 'красное','розовое']}

In [181]:
drinks['вино'][1]

'красное'

In [183]:
# Выводим ключи словаря с помощью метода keys()
drinks.keys()

dict_keys(['пиво', 'вино'])

In [184]:
# Выводим значения словаря с помощью метода values()
drinks.values()

dict_values([['стаут', 'лагер', 'эль'], ['белое', 'красное', 'розовое']])

In [185]:
# Получаем элементы  словаря с помощью метода items()
drinks.items()

dict_items([('пиво', ['стаут', 'лагер', 'эль']), ('вино', ['белое', 'красное', 'розовое'])])

# Практика

In [186]:
# Даны два списка - страны и соответствующие им столицы
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']


# Создайте словарь europe из списков countries и capitals
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Выведите europe
europe

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

# Еще практика ...

In [187]:
# Дан словарь стран и столиц
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Выведите ключи словаря europe
europe.keys()

dict_keys(['spain', 'france', 'germany', 'norway'])

In [188]:
# Выведите значение по ключу 'norway'
europe['norway']

'oslo'

# Снова практика со словарями

In [189]:
# Дан словарь стран и столиц
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Исправьте столицу Германии в словаре europe
europe['germany'] = 'berlin'

In [190]:
# Удалите Австралию из словаря europe
del(europe['australia'])

In [200]:
# Выведите словарь europe
europe[2]= 'moscow'

In [204]:
# 'moscow' in europe

False

### Множество

In [211]:
# Множество - это набор уникальных элементов 
x = ['Hi', True, 3.4, 12]

In [217]:
# Множество задается с помощью команды set() и или массива в фигурных скобках
set(x)

{12, 3.4, 'Hi', True}

In [205]:
type({2,4,5,5})

set

In [206]:
y = {2,4,5,5}

In [218]:
x = set(x)

In [209]:
list(set([3,3,3,2,5,6,12]))

[2, 3, 5, 6, 12]

In [210]:
y = set([3,3,3,2,5,6,12])

In [219]:
y.issubset(x)

False

In [220]:
z = set([3])

In [223]:
z.issubset(x)

False

In [226]:
print(x)
print(y)

{True, 3.4, 12, 'Hi'}
{2, 3, 5, 6, 12}

In [227]:
x.intersection(y)

{12}

In [228]:
x.union(y)

{12, 2, 3, 3.4, 5, 6, 'Hi', True}

In [229]:
x.difference(y)

{3.4, 'Hi', True}

In [230]:
x.symmetric_difference(y)

{2, 3, 3.4, 5, 6, 'Hi', True}

In [231]:
x.add(10)

In [232]:
x

{10, 12, 3.4, 'Hi', True}

In [233]:
x.remove(10)
x

{12, 3.4, 'Hi', True}

# Практика по множествам

In [235]:
# Даны 2 списка с покемонами:
# ash_pokedex - покемоны Эша
# misty_pokedex - покемоны Мисти

ash_pokedex = ['Pikachu', 'Bulbasaur', 'Koffing',
                 'Spearow', 'Vulpix', 'Wigglytuff', 
                 'Zubat', 'Rattata', 'Psyduck', 'Squirtle'] 
misty_pokedex = ['Krabby', 'Horsea', 'Slowbro',
                 'Tentacool', 'Vaporeon', 'Magikarp',
                 'Poliwag', 'Starmie', 'Psyduck', 'Squirtle']

In [236]:
# Переведите списки с покемонами в множества ash_set и misty_set
ash_set = set(ash_pokedex)
misty_set = set(misty_pokedex)

In [237]:
# Найдите и выведите покемонов, которые есть у Эша и Мисти 
ash_set.intersection(misty_set)

{'Psyduck', 'Squirtle'}

In [238]:
# Найдите и выведите покемонов, которые есть только у Эша, а у Мисти их нет
ash_set.difference(misty_set)

{'Bulbasaur',
 'Koffing',
 'Pikachu',
 'Rattata',
 'Spearow',
 'Vulpix',
 'Wigglytuff',
 'Zubat'}

In [239]:
# Найдите покемонов, которые встречаются только в одном списке
ash_set.symmetric_difference(misty_set)

{'Bulbasaur',
 'Horsea',
 'Koffing',
 'Krabby',
 'Magikarp',
 'Pikachu',
 'Poliwag',
 'Rattata',
 'Slowbro',
 'Spearow',
 'Starmie',
 'Tentacool',
 'Vaporeon',
 'Vulpix',
 'Wigglytuff',
 'Zubat'}

# Bonus

# Работа с таблицами и матрицами

In [241]:
# Ексель в питоне - это pandas
import pandas as pd
# Для работы с векторами и матрицами придуман numpy
import numpy as np

<img src='img\IMG_3316.PNG' width=500 align='left'>

In [ ]:
# np.eye(3)
a = np.eye(3)
b = np.array([[1],[2],[3]])
np.dot(a,b)

In [247]:
np.mean([[1],[2],[3]])

2.0

In [248]:
# np.array([[1],[2],[3]])

In [34]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [249]:
pd.Series()

Series([], dtype: float64)

In [250]:
beer = ['Темное','Светлое', 'Нефильтрованное', 'Крафтовое с перчиком']
prices = [50, 45, 60, 90]
dict_for_pandas_df = {'Пиво':beer, 'Цена':prices}
pd.DataFrame(dict_for_pandas_df)

                   Пиво  Цена
0                Темное    50
1               Светлое    45
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [251]:
beerpriceslist = [
    ['Темное', 50],
    ['Светлое', 45],
    ['Нефильтрованное', 60],
    ['Крафтовое с перчиком', 90]
]
pd.DataFrame(beerpriceslist, columns=['Пивас','Цена'])

                  Пивас  Цена
0                Темное    50
1               Светлое    45
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [252]:
df_beer = pd.DataFrame(dict_for_pandas_df)

In [253]:
df_beer.tail(3)

                   Пиво  Цена
1               Светлое    45
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [83]:
df_beer.tail(3)

                   Пиво  Цена
1               Светлое    45
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [87]:
df_beer[df_beer['Цена'] > 50]

                   Пиво  Цена
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [256]:
df_beer[df_beer['Цена'] > 50]['Цена'].mean()

75.0

In [257]:
type(df_beer)

pandas.core.frame.DataFrame

In [91]:
type(df_beer['Цена'])

pandas.core.series.Series

In [262]:
df_beer['Цена'].unique().tolist()[-1]

90

In [263]:
df_beer.to_excel('beer.xlsx', index=False)

### Полезные ссылки

* <a href="http://jupyter-notebook.readthedocs.io/en/stable/index.html">Про Jypyter Notebook </a>
* <a href="https://www.python.org/">Python сообщество - python.org</a>
* <a href="http://www.moscowpython.ru/">Python сообщество в Москве< - moscowpython.ru</a>
* <a href="https://stackoverflow.com">Ответы на 99% вопросов есть на stackoverflow.com</a>
<hr>

* <a href="https://github.com/brennerm/PyTricks">PyTricks</a>
* <a href="https://www.codeavengers.com/profile#python">Codeavengers</a>
* <a href="https://sberbank-school.ru/education/query/python">Python в виртуальной школе</a>
* <a href="https://hyperskill.org/knowledge-map?v=table">Knowledge map по Python</a>
* <a href="rutracker.ru">Разные курсы и книги есть на торрентах</a>