# Что еще за Python ?

<img src='https://romain.dorgueil.net/images/python.png' align='left'>


* #### Язык общего назначения
* #### Интерпретируемый 
* #### С динамической типизацией
* #### Объекто-ориентированный - в питоне все объекты

#  Зачем нам Python?
<br><br>

* #### Причины популярности
* #### Сравнение с другими языками
* #### Востребованы ли профессионалы, умеющие работать с ним?
* #### Насколько он сложен в освоении?


<br><br>

<hr>

#  Вопросы к слушателям
<br><br><br>
1. #### <s>Какие цели вы ставите, придя на курс?</s> Как вы планируете его использовать в работе?
2. #### Какие языки программирования знаете?
3. #### Работали с данным языком?
<br><br><br>
<hr>

# Предки Python
Питон произошел в начале 90х из языков программирования ABC и Modula 3

<img src='img\evolution.png' align='left'>

## Автор питона и BDFL

* <a href='https://gvanrossum.github.io'>Гвидо Ван Россум</a> <a href='https://docs.python.org/3.3/glossary.html#term-bdfl'>(BDFL) </a>
 
<img src='https://avatars2.githubusercontent.com/u/2894642?s=400&v=4' align='left'>

# Версии Python

*  2.7 (old school)
*  3.7 (new school)

<img src='img\IMG_3315.jpg' align='left'>

# Напутствия кодерам

### PEP 8 - Style Guide for Python Code

* <a href="https://www.python.org/dev/peps/pep-0008/">оригинал на python.org</a>
* <a href="https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html">версия на русском</a>

### PEP 20 - The Zen of Python

* <a href="https://www.python.org/dev/peps/pep-0020/">оригинал на python.org</a>

Красивое лучше, чем уродливое. <br>
Явное лучше, чем неявное. <br>
Простое лучше, чем сложное. <br>
Сложное лучше, чем запутанное. <br>
Плоское лучше, чем вложенное. <br>
Разреженное лучше, чем плотное. <br>
Читаемость имеет значение. <br>
Особые случаи не настолько особые, чтобы нарушать правила. <br>
При этом практичность важнее безупречности. <br>
Ошибки никогда не должны замалчиваться. <br>
Если не замалчиваются явно. <br>
Встретив двусмысленность, отбрось искушение угадать. <br>
Должен существовать один — и, желательно, только один — очевидный способ сделать это. <br>
Хотя он поначалу может быть и не очевиден, если вы не голландец. <br>
Сейчас лучше, чем никогда. <br>
Хотя никогда зачастую лучше, чем прямо сейчас. <br>
Если реализацию сложно объяснить — идея плоха. <br>
Если реализацию легко объяснить — идея, возможно, хороша. <br>
Пространства имѐн — отличная штука! <br>
Будем делать их побольше!<br>

In [2]:
# Если вдруг потребуется дзен, его можно загрузить с помощью модуля this
# import this

# Комментарии

In [5]:
# type(4.5)
# print('Hi')

In [7]:
#

'\nПоэма \n...\n....\n..\n'

## Основные  типы данных

* Число(int, float) # 1 и 2.5 
* Строка (str) # ‘stroka’ 
* Булево (True, False)
* None

### Boolean (проще говоря да или нет)

In [27]:
True

True

In [29]:
False

False

In [30]:
True == True

True

In [31]:
not True == False

True

# Операторы

* Присвоение = <br>
* Сложение +
* Вычитание -
* Деление /
* Целочисленное деление //
* Остаток от деления %
* Возведение в степень **

# Python как калькулятор

In [6]:
# Сложение и вычитание
print(5 + 5)
print(5 - 5)

In [7]:
# Произведение и деление 
print(3 * 5)
print(10 / 2)

In [10]:
# Возведение в степень
print(4 ** 2)

In [11]:
# Остаток от деления
print(18 % 7)

In [14]:
# Как увеличатся твои 100 долларов через 7 лет при ставке 10%?
print(100*(1.1**7))

### Integer, Float

In [6]:
30

30

In [7]:
30 + 10 / 2 - 5 * 1 ** 2

30.0

In [8]:
30 % 4

2

In [9]:
30 // 4

7

### String

In [10]:
"Ciao bella"

'Ciao bella'

In [32]:
"Ciao bella! " * 2

'Ciao bella! Ciao bella! '

In [12]:
'Ciao' + ' bella!'

'Ciao bella!'

In [33]:
' '.join(['Ciao','bella!'])

'Ciao bella!'

In [13]:
'Ciao bella!'[0]

'C'

In [2]:
'Ciao bella!'[::2]

'Ca el!'

# Пример для практики

In [8]:
# Дана строка s - "У Мэри есть овечка"
s = "У Мэри есть овечка"

In [2]:
# Выведите первый элемент строки s
#----- Ваш код здесь ----

In [3]:
# Выведите предпоследний элемент строки s
#----- Ваш код здесь ----

In [4]:
# Выведите с 7 по 10 элементы строки s
#----- Ваш код здесь ----

In [5]:
# Выведите каждый второй элемент с 1 по 8 
#----- Ваш код здесь ----

In [6]:
# Выведите каждый 4й элемент строки 
#----- Ваш код здесь ----

In [7]:
# Разверните строку в обратную сторону(поменяйте символы местами чтобы 1й стал последним и так далее)
#----- Ваш код здесь ----

In [ ]:
# Разделить строку по пробелу и объединить обратно по символу "_"
#----- Ваш код здесь ----

# Переменные

* Тип переменной определяется при исполнении <br>
* Названия переменных чувствительны к регистру <br>
* Переменная задается присвоением:

In [12]:
a = 1 
b = 'stroka'
c = True

In [16]:
type(a)

int

In [17]:
type(b)

str

In [19]:
type(c)

bool

Переменная, которой не задано значение, не существует:

In [15]:
# z

# Пример для практики

In [22]:
savings = 100
factor = 1.1
desc = "compound interest"

In [23]:
# Присвойте переменной year1 произведение  savings и factor

#----- Ваш код здесь ----

In [32]:
# Выведите тип переменной year1

#----- Ваш код здесь ----

In [25]:
# Присвойте doubledesc сумму переменной desc и desc

#----- Ваш код здесь ----

In [33]:
# Выведите doubledesc

#----- Ваш код здесь ----

# Еще один практический пример

In [21]:
# Даны переменные a = 5 и b = 10
# Поменять значения переменных местами. Вывести новые значения на экран.
# Решите задачу, используя только две переменные.

#----- Ваш код здесь ----

# Коллекции, контейнеры или струкутруы данных

### Список

In [3]:
list()

[]

In [4]:
type([])

list

In [5]:
x = []

In [6]:
x

[]

In [7]:
x = ['Hi', True, 12, 3.4, 4, 4, 4, 4]

In [8]:
x[0]

'Hi'

In [9]:
x[-1]

4

In [10]:
# Добавляем элемент в список
x.append('3')

In [11]:
# Расширяет список, добавляя в него элементы списка из аргумента
x.extend(['10'])

In [12]:
# Для получения индекса элемента используется метод index
x.index('3')

8

In [13]:
# Для удаления элемента из списка используется метод remove
x.remove('3')
x

In [29]:
# Также может использоваться функция del
del(x[0])
x

In [31]:
x

['hello', True, 12, 3.4, 4, 4, 4, 4, 'hello', 'hello', '10']

In [25]:
# Для добавления элемента в список может использоваться метод insert 
# в качестве аргументов он принимает индекс позиции и значение, которое добавляем
x.insert(0,'hello')

In [30]:
x

['hello', True, 12, 3.4, 4, 4, 4, 4, 'hello', 'hello', '10']

In [39]:
# Метод pop удаляет элемент из списка по индексу и выводит его
x.pop(1)

'10'

In [38]:
x.pop()

['hello', True, 3.4, 4, 'hello', 'hello', '10']

In [48]:
# Метод reverse переворачивает список и возвращает None
x.reverse()

In [54]:
# Списки можно сортировать с помощью метода sort
y = [1,5,2,4,3,6,0]
y.sort()
y

[0, 1, 2, 3, 4, 5, 6]

In [55]:
# Также для списков доступны функции min, max, sum
print(max([1,2,3,4,5,6,7]))
print(min([1,2,3,4,5,6,7]))
print(sum([1,2,3,4,5,6,7]))

7
1
28

In [56]:
# Длину списка можно узнать с помощью функции len
print(len([1,2,3,4,5,6,7]))

7

# Практический пример

In [44]:
# Допустим у нас есть список площадей areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0,  # 1 этаж
         "bedroom", 10.75, "bathroom", 9.50]                      # 2 этаж

# Присвойте переменной downstairs все что находится на 1 этаже
#----- Ваш код здесь ----

In [45]:
# Присвойте переменной upstairs все что находится на 2 этаже
#----- Ваш код здесь ----

In [48]:
# Выведите переменные downstairs и upstairs
#----- Ваш код здесь ----

In [ ]:
# Присвойте переменной downstairs все что находится на 1 этаже альтернативным способом 
#----- Ваш код здесь ----

In [47]:
# Присвойте переменной upstairs все что находится на 2 этаже альтернативным способом 
#----- Ваш код здесь ----

Еще немного практики на тему площадей

In [30]:
# Переменные, для измерения площади помещения, в квадратных метрах)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [31]:
# Информация о доме - список со списками
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

In [38]:
# Выведите переменную house

#----- Ваш код здесь ----

In [39]:
# Выведите тип переменной house

#----- Ваш код здесь ----

In [ ]:
# Выведите первый элемент переменной house

#----- Ваш код здесь ----

In [ ]:
# Выведите размер спальни из переменной house

#----- Ваш код здесь ----

In [43]:
# Присвойте переменной eat_sleep_area площать гостиной и спальнии из переменной house

#----- Ваш код здесь ----

И снова немного площадей

In [ ]:
# Допустим у нас есть лист areas
areas = ["hallway", 11.25, "kitchen", 18.0,
         "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Скорректируйте площадь ванной комнаты на 10.50
#----- Ваш код здесь ----

In [22]:
# Поменяйте название гостиной "living room" to "chill zone"
#----- Ваш код здесь ----

In [ ]:
# Добавьте бильярдную "poolhouse" размером 24.5 к списку areas 
# присвойте результат в новый список - переменную areas_1
#----- Ваш код здесь ----

In [ ]:
# Добавьте гараж ["garage"] в виде отдельного списка к списку areas_1
# добавьте также его площадь в виде отдельного списка ['15.45']
# Присвойте результат переменной areas_2
areas_2 = areas_1 + ["garage"] + [15.45]
#----- Ваш код здесь ----

### Кортеж

Кортеж - это неизменяемый список

In [57]:
# Кортеж задается командой tuple()
tuple()

()

In [58]:
tuple(['Hi', True, 12, 3.4])

('Hi', True, 12, 3.4)

In [60]:
x = tuple(['Hi', True, 12, 3.4])

In [62]:
# Доступ к элементам кортежа осуществаляется по индексам
x[3]

3.4

In [65]:
# Но изменять содержимое кортежа не получится
# del(x[1])

In [66]:
# x[-1] = 5

In [69]:
# x = 'строка'

### Словарь

Прелюдия к словарям

In [ ]:
# Даны два списка - страны и соответствующие им столицы
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Присвойте идекс Германии в переменную ind_ger

#----- Ваш код здесь ----

# Выведите столицу Германии с помощью переменной ind_ger

#----- Ваш код здесь ----

In [27]:
# Словарь задается с помощью команды dict() или фигурных скобок 
dict()

{}

In [28]:
# 1. Вариант
{'пиво': ['стаут', 'лагер', 'эль'],
 'вино':['белое', 'красное','розовое']}

{'вино': ['белое', 'красное', 'розовое'], 'пиво': ['стаут', 'лагер', 'эль']}

In [68]:
# 2. Вариант
dict(пиво = ['стаут', 'лагер', 'эль'], вино =['белое', 'красное','розовое'] )

{'пиво': ['стаут', 'лагер', 'эль'], 'вино': ['белое', 'красное', 'розовое']}

In [45]:
drinks = {'пиво': ['стаут', 'лагер', 'эль'], 'вино':['белое', 'красное','розовое']}

In [46]:
drinks['вино'][0]

'белое'

In [47]:
# Выводим ключи словаря с помощью метода keys()
drinks.keys()

dict_keys(['пиво', 'вино'])

In [48]:
# Выводим значения словаря с помощью метода values()
drinks.values()

dict_values([['стаут', 'лагер', 'эль'], ['белое', 'красное', 'розовое']])

In [49]:
# Получаем элементы  словаря с помощью метода items()
drinks.items()

dict_items([('пиво', ['стаут', 'лагер', 'эль']), ('вино', ['белое', 'красное', 'розовое'])])

# Практика

In [59]:
# Даны два списка - страны и соответствующие им столицы
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']


# Создайте словарь europe из списков countries и capitals
#----- Ваш код здесь ----

# Выведите europe
#----- Ваш код здесь ----

# Еще практика ...

In [61]:
# Дан словарь стран и столиц
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Выведите ключи словаря europe
#----- Ваш код здесь ----

# Выведите значение по ключу 'norway'
#----- Ваш код здесь ----

# Снова практика со словарями

In [ ]:
# Дан словарь стран и столиц
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Исправьте столицу Германии в словаре europe
#----- Ваш код здесь ----

# Удалите Австралию из словаря europe
#----- Ваш код здесь ----

# Выведите словарь europe
#----- Ваш код здесь ----

### Множество

In [103]:
# Множество - это набор уникальных элементов 
x = ['Hi', True, 3.4, 12]

In [104]:
# Множество задается с помощью команды set() и или массива в фигурных скобках
set(x)

{12, 3.4, 'Hi', True}

In [105]:
type({2,4,5,5})

set

In [106]:
y = {2,4,5,5}

In [107]:
x = set(x)

In [108]:
y = set([3,3,3,2,5,6,12])

In [109]:
y.issubset(x)

False

In [110]:
z = set([3])

In [111]:
z.issubset(x)

False

In [112]:
x.intersection(y)

{12}

In [113]:
x.union(y)

{12, 2, 3, 3.4, 5, 6, 'Hi', True}

In [114]:
x.difference(y)

{3.4, 'Hi', True}

In [133]:
x.symmetric_difference(y)

{2, 3, 3.4, 5, 6, 'Hi', True}

In [115]:
x.add(10)

In [116]:
x

{10, 12, 3.4, 'Hi', True}

In [117]:
x.remove(10)
x

{12, 3.4, 'Hi', True}

# Практика по множествам

In [123]:
# Даны 2 списка с покемонами:
# ash_pokedex - покемоны Эша
# misty_pokedex - покемоны Мисти

ash_pokedex = ['Pikachu', 'Bulbasaur', 'Koffing',
                 'Spearow', 'Vulpix', 'Wigglytuff', 
                 'Zubat', 'Rattata', 'Psyduck', 'Squirtle'] 
misty_pokedex = ['Krabby', 'Horsea', 'Slowbro',
                 'Tentacool', 'Vaporeon', 'Magikarp',
                 'Poliwag', 'Starmie', 'Psyduck', 'Squirtle']

In [135]:
# Переведите списки с покемонами в множества ash_set и misty_set
#----- Ваш код здесь ----

In [136]:
# Найдите и выведите покемонов, которые есть у Эша и Мисти 
#----- Ваш код здесь ----

In [137]:
# Найдите и выведите покемонов, которые есть только у Эша, а у Мисти их нет
#----- Ваш код здесь ----

In [138]:
# Найдите покемонов, которые встречаются только в одном списке
#----- Ваш код здесь ----

# Bonus

# Работа с таблицами и матрицами

In [4]:
# Ексель в питоне - это pandas
import pandas as pd
# Для работы с векторами и матрицами придуман numpy
import numpy as np

<img src='img\IMG_3316.PNG' width=500 align='left'>

In [32]:
# np.eye(3)
# a = np.eye(3)
# b = np.array([[1],[2],[3]])
# np.dot(a,b)
# np.mean()

In [34]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [35]:
pd.Series()

Series([], dtype: float64)

In [73]:
beer = ['Темное','Светлое', 'Нефильтрованное', 'Крафтовое с перчиком']
prices = [50, 45, 60, 90]
dict_for_pandas_df = {'Пиво':beer, 'Цена':prices}
pd.DataFrame(dict_for_pandas_df)

                   Пиво  Цена
0                Темное    50
1               Светлое    45
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [139]:
beerpriceslist = [
    ['Темное', 50],
    ['Светлое', 45],
    ['Нефильтрованное', 60],
    ['Крафтовое с перчиком', 90]
]
pd.DataFrame(beerpriceslist, columns=['Пивас','Цена'])

                  Пивас  Цена
0                Темное    50
1               Светлое    45
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [80]:
df_beer = pd.DataFrame(dict_for_pandas_df)

In [82]:
df_beer.head(3)

              Пиво  Цена
0           Темное    50
1          Светлое    45
2  Нефильтрованное    60

In [83]:
df_beer.tail(3)

                   Пиво  Цена
1               Светлое    45
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [87]:
df_beer[df_beer['Цена'] > 50]

                   Пиво  Цена
2       Нефильтрованное    60
3  Крафтовое с перчиком    90

In [89]:
df_beer[df_beer['Цена'] > 50]['Цена'].mean()

75.0

In [90]:
type(df_beer)

pandas.core.frame.DataFrame

In [91]:
type(df_beer['Цена'])

pandas.core.series.Series

In [100]:
df_beer['Цена'].nunique()

4

In [101]:
df_beer.to_excel('beer.xlsx', index=False)

### Полезные ссылки

* <a href="http://jupyter-notebook.readthedocs.io/en/stable/index.html">Про Jypyter Notebook </a>
* <a href="https://www.python.org/">Python сообщество - python.org</a>
* <a href="http://www.moscowpython.ru/">Python сообщество в Москве< - moscowpython.ru</a>
* <a href="https://stackoverflow.com">Ответы на 99% вопросов есть на stackoverflow.com</a>
<hr>

* <a href="https://github.com/brennerm/PyTricks">PyTricks</a>
* <a href="https://www.codeavengers.com/profile#python">Codeavengers</a>
* <a href="https://sberbank-school.ru/education/query/python">Python в виртуальной школе</a>
* <a href="https://hyperskill.org/knowledge-map?v=table">Knowledge map по Python</a>
* <a href="rutracker.ru">Разные курсы и книги есть на торрентах</a>