# Циклы, тернарные операторы, функции

### Логические операторы

* and 
* or 
* not 
* in
* not in
* Выполняется ли равенство ==  
* Выполняется ли неравенство !=
* Больше или меньше  >< >= <=

#### Тернарные операторы

In [1]:
# проверят выполняется ли условие
True != True

False

In [2]:
# if
a = 10
if a > 0:
    print('+')

+

In [65]:
# Дополнительное условие elif
a = -8
if a > 0:
    print('+')
elif -10 < a < -5 :
    print('-')

-

In [66]:
# Еще одно дополнительное условие elif
a = -10
if a > 0:
    print('+')
elif -10 < a < -5 :
    print('-')
elif -15 < a <= -10  :
    print('---')

---

In [62]:
# Альтернативное условие else
a = 0
if a > 0:
    print('+')
elif -10 < a < -5 :
    print('-')
elif -15 < a <= -10  :
    print('---')
else :
    print('...')

...

In [4]:
# пример использвоания if в цикле
beerlist = ['Bavaria', 'Corona', 'Ragegast','Lambic', 'Perroni']
for beer in beerlist:
    if beer == 'Corona':
        print('{} - Ой надо купить буррито!'.format(beer))
    elif beer == 'Perroni':
        print('{} - Ой надо взять пиццу'.format(beer))
    else:
        print('{} - Ой не забыть быть чипсоны'.format(beer))

Bavaria - Ой не забыть быть чипсоны
Corona - Ой надо купить буррито!
Ragegast - Ой не забыть быть чипсоны
Lambic - Ой не забыть быть чипсоны
Perroni - Ой надо взять пиццу

### Циклы

<img src="img\eat_sleep.png" align='left'>

In [79]:
# Для поочередного перебора элементов ЛЮБОЙ последовательности в Python есть специальный цикл
# переменной fruit при каждой итерации(полном обороте) цикла присваиваются элементы поочереди
for fruit in fruits:  
    print('fruit = ', fruit)

fruit =  apple
fruit =  banana
fruit =  mango

In [80]:
# со строкой тоже работает
for el in 'Hello':  
    print('el = ', el)

el =  H
el =  e
el =  l
el =  l
el =  o

In [82]:
# и с кортежем
for t_el in 1, 2, 3, 4, 5, 10:  
    print('t_el = ', t_el)

t_el =  1
t_el =  2
t_el =  3
t_el =  4
t_el =  5
t_el =  10

In [84]:
#  break позволяет выйти из цикла до его завершения
for el in [1, 2, 'Hello', 4]:
    print('el = ', el)
    break

el =  1

In [74]:
# continue позволяет пропустить итерацию
for i in 'hello world':
    if i == 'o':
        continue
    print(i * 2, end='')

hheellll  wwrrlldd

In [94]:
# else может проверить выход из цикла с помощью break и выполнить инструкцию в этом случае
for i in 'hello world':
#     print(i)
    if i == 'a':
        break
else:
    print('Буквы a в строке нет')

Буквы a в строке нет

### Генератор последовательности range

In [95]:
x = range(10)
x

range(0, 10)

In [96]:
type(x)

range

In [97]:
x = range(10, 20, 2)
list(x)

[10, 12, 14, 16, 18]

In [98]:
x = range(20, 10, -2)
list(x)

[20, 18, 16, 14, 12]

In [52]:
# for
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [60]:
alist = []
for i in range(10,60,10):   
    alist.append(i)
print(alist)

[10, 20, 30, 40, 50]

In [99]:
# Перебор элементов по индексам
fruits = ['apple', 'banana', 'mango']
i = 0
while len(fruits) > i:
    print('fruit = ', fruits[i])
    i += 1
#     i = i + 1

fruit =  apple
fruit =  banana
fruit =  mango

In [101]:
n = 10
while n > 0:
    n -= 1
    print(n)

9
8
7
6
5
4
3
2
1
0

In [100]:
# переменной fruit при каждой итерации(полном обороте) цикла присваиваются элементы поочереди
for fruit in fruits:  
    print('fruit = ', fruit)

fruit =  apple
fruit =  banana
fruit =  mango

In [78]:
# С помощью цикла можно пройти по всем элементам списка
beerlist = ['Bavaria', 'Corona', 'Ragegast','Lambic', 'Perroni']
for beer in beerlist:
    print(beer)

Bavaria
Corona
Ragegast
Lambic
Perroni

In [82]:
# В цикле можно использовать индекс для вывода элементов списка
for i in range(len(beerlist)):
    print(beerlist[i])

Bavaria
Corona
Ragegast
Lambic
Perroni

In [83]:
# Итерируясь по списку можно выводить и индекс элемента
for i, beer in enumerate(beerlist):
    print(i, beer)

0 Bavaria
1 Corona
2 Ragegast
3 Lambic
4 Perroni

In [86]:
# enumerate выводить список кортежей из элементов списка
list(enumerate(beerlist))

[(0, 'Bavaria'), (1, 'Corona'), (2, 'Ragegast'), (3, 'Lambic'), (4, 'Perroni')]

In [72]:
# По словарю можно проходить циклом по ключам
for key in newdict.keys():
    print('Марка: {}'.format(key))

Марка: Bavaria
Марка: Corona
Марка: Ragegast
Марка: Lambic
Марка: Perroni

In [75]:
# По словарю можно проходить циклом по значениям
for val in newdict.values():
    print('купить {} бутылок или...'.format(val))

купить 10 бутылок или...
купить 20 бутылок или...
купить 30 бутылок или...
купить 40 бутылок или...
купить 50 бутылок или...

In [67]:
# По словарю можно проходить циклом по ключам и значениям
for key, value in newdict.items():
    print('Марка: {}, купить {} бутылок'.format(key,value))

Марка: Bavaria, купить 10 бутылок
Марка: Corona, купить 20 бутылок
Марка: Ragegast, купить 30 бутылок
Марка: Lambic, купить 40 бутылок
Марка: Perroni, купить 50 бутылок

In [121]:
# Если мы используем круглые скобки и range, то мы создаем гененератор
seq =(x for x in range(10))
# Функция next() позволяет переходить к следующему элементу генератора
print(next(seq))
print(next(seq))
print(next(seq))

0
1
2

# List comprehension (или  сладенькое)

In [2]:
# Допустим у нас есть список 
nums = [2, 4, 6, 8, 10]

In [3]:
# Обычный цикл
nums_new = []
for i in range(1, 6):
    nums_new.append(2*i)
nums_new

[2, 4, 6, 8, 10]

In [4]:
[(2*i) for i in range(1,6)]

[2, 4, 6, 8, 10]

In [5]:
{(2*i) for i in range(1,6)}

{2, 4, 6, 8, 10}

In [6]:
[num for num in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# Добавим условие
[num for num in range(1, 11) if num % 2 == 0]

[2, 4, 6, 8, 10]

In [8]:
# Добавим альтернативное условие
[num if num % 2 == 0 else '_' for num in range(1, 11)]

['_', 2, '_', 4, '_', 6, '_', 8, '_', 10]

In [9]:
# Циклы в цикле
numbers = [1, 2, 3]
letters = ['a','b','c']
[(i, j) for i in numbers for j in letters]

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [ ]:
# Когда циклов много
# [(i, j, k) for i in numbers for j in letters for k in range(3)]

# Если на выходе нужен  список в списке
[[(i, j) for i in numbers] for j in letters]

In [31]:
# Генератор словарей
{chr(num): num for num in range(97,123)}

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

### tqdm

In [24]:
# Прогресс бар 
from tqdm import tqdm_notebook
x = [x**y for x in tqdm_notebook(range(1000)) for y in range(1000)]

HBox(children=(IntProgress(value=0, max=1000), HTML(value='')))

# Практика

In [ ]:
# Создайте список  squares из значений последовательности возведеных в квадрат
#----- Ваш код здесь ----

In [ ]:
# Создайте матрицу 5 на 5 используя список в списке
# С помощью лист комперхеншена
#----- Ваш код здесь ----

In [ ]:
# Создайте генератор последовательность элементов от 0 до 30 в 
# Сохраните ее в переменную result
#----- Ваш код здесь ----
# Выведите первые 5 элементов result с помощью функции next()
#----- Ваш код здесь ----
# Выведете оставшиеся элементы с помощью цикла
#----- Ваш код здесь ----

In [ ]:
# Дан список fellowship 
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Создайте новый список new_fellowship из fellowship если длина элемента больше или равна 7
#----- Ваш код здесь ----

# Выведите new_fellowship
#----- Ваш код здесь ----

In [253]:
# Данн список строк
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Создайте объект генератор из длин елементов списка
#----- Ваш код здесь ----

# Выведите значения lengths с помощью цикла
#----- Ваш код здесь ----

### Функции

In [12]:
def hello_maker():
    
    """
    Функция выдает приветствие
    """
    print('hello')

In [16]:
def plus10(x):
    a = x + 10
    return a

In [15]:
for _ in range(10):
    hello_maker()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [108]:
zoo_animals = ['monkey', 'lion', 'elephant', 'bear']

def zoo_checker(zoo, animal):
    if animal in zoo:
        print('{} live in the zoo'.format(animal))
    else:
        print('{} live in the jungle'.format(animal))

In [109]:
zoo_checker(zoo=['monkey', 'lion', 'elephant', 'bear'], animal='monkey')

monkey live in the zoo

In [110]:
zoo_checker(zoo_animals, 'python')

python live in the jungle

In [111]:
# Когда мы не знаем все аргументы, которые передаются в функцию
def hello_maker2(*args):
    for name in args:
        print('Hi {}'.format(name))

In [119]:
hello_maker2('Peter', 'John', 'Jack', 'Everybody')

Hi Peter
Hi John
Hi Jack
Hi Everybody

In [117]:
# В функциях важно прописывать комментарии в docstring
def hello_maker2(*args):
    
    """
    Приветсвует всех по передаваемым в качестве аргументов именам
    """
    for name in args:
        print('Hi {}'.format(name))

In [120]:
hello_maker2('Dude')

Hi Dude

In [36]:
# Напишите 2 функции, которые будут переводить сообщение посимвольно в цифры и обратно 
# Используйтпе ord и chr
# Должно получиться что-то подобное:
# Сообщение: Houston, we have a problem -> [72,111,117,115,..., 32,98,108,101,109]
# [72,111,117,115,..., 32,98,108,101,109] -> Houston, we have a problem

### Анонимные функции

In [38]:
lamfunc = lambda x:x*2
lamfunc(3)

6

In [39]:
lamfunc_y = lambda x, y: x*2 + y
lamfunc_y(3,4)

10

In [37]:
# Пример использования лямбда функции для сортировки словаря
beers = {'Жигулевское':10, 'Гинес':100, 'Хугарден':70, 'Шпатен':90}
sorted(beers.items(), key=lambda x:x[1], reverse=True)

[('Гинес', 100), ('Шпатен', 90), ('Хугарден', 70), ('Жигулевское', 10)]

### Map

In [14]:
# map может применить функцию ко всем элеметам списка
# Результаы можно выевести в виде списка
list(map(lambda x:x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [130]:
# Кортежа
tuple(map(lambda x:x**2, [1,2,3,4]))

(1, 4, 9, 16)

In [18]:
# Множества
set(map(lambda x:x**2, [1,2,3,4]))

{1, 4, 9, 16}

In [19]:
# В map можно передовать список из функций
def multiply(x):
    return (x*x)

def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

### Filter

In [40]:
# С помощью filter можно проверять элементы списка на выполнение условий
# условие выполняется - True
number_list = list(range(-5, 5))
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

### Reduce

In [134]:
# Может быть полезен когда нужно получить результат вычислений с элементами списка
product = 1
list = [1, 2, 3, 4]
for num in list:
    product = product * num

product

24

In [135]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
product

24

# zip

In [104]:
# для создания словарей из 2х списков удобно пользоваться функцией zip
alist = [x for x in range(10,60,10)]
newdict = dict(zip(beerlist, alist))
newdict

{'Bavaria': 10, 'Corona': 20, 'Ragegast': 30, 'Lambic': 40, 'Perroni': 50}

# Про Pandas

<img src="img\pandas_pic.jpg" width =700 aling='left'>

In [208]:
import pandas as pd
import numpy as np
pizza = pd.read_csv('Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_May19.csv')

In [209]:
# Первые строчки таблицы
pizza.head(2)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ

In [210]:
# Информация о таблице
pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
id                    10000 non-null object
dateAdded             10000 non-null object
dateUpdated           10000 non-null object
address               10000 non-null object
categories            10000 non-null object
primaryCategories     10000 non-null object
city                  10000 non-null object
country               10000 non-null object
keys                  10000 non-null object
latitude              10000 non-null float64
longitude             10000 non-null float64
menuPageURL           1679 non-null object
menus.amountMax       10000 non-null float64
menus.amountMin       10000 non-null float64
menus.currency        10000 non-null object
menus.dateSeen        10000 non-null object
menus.description     3718 non-null object
menus.name            10000 non-null object
name                  10000 non-null object
postalCode            9996 non-null object
priceRangeCurrency    10000 non-null object
priceRangeMin         10000 non-null int64
priceRangeMax         10000 non-null int64
province              10000 non-null object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [211]:
# Если нужно удалить колонки
pizza = pizza.drop('menus.dateSeen', axis=1)

In [212]:
# Выводим названия колонок
pizza.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.currency',
       'menus.description', 'menus.name', 'name', 'postalCode',
       'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax', 'province'],
      dtype='object')

In [213]:
# Количество уникальных значений
pizza.name.nunique()

1827

In [214]:
# Уникальные значения в колонке
pizza.country.unique()

array(['US'], dtype=object)

In [216]:
# Группируем с помощью groupby
# количество уникальных названий по регионам 
pizzaz_by_province = pizza.groupby('province')['name'].nunique().reset_index()

In [217]:
# проверяем названия колонок
pizzaz_by_province.columns

Index(['province', 'name'], dtype='object')

In [218]:
# Меняем названия на те что нам нравятся
pizzaz_by_province.columns = ['province', 'quantity']

In [219]:
# Сортируем по полю quantity
pizzaz_by_province.sort_values(by='quantity', ascending=False, inplace=True)

In [220]:
pizzaz_by_province.head()

   province  quantity
30       NY       395
4        CA       219
34       PA       172
8        FL       145
38       TX       117

In [221]:
# Размечаем те регионы, где много пиццерий с помощью numpy
pizzaz_by_province['many_or_not_many'] = np.where(pizzaz_by_province.quantity > 100, 1, 0)
# pizzaz_by_province['many_or_not_many'] = np.where(pizzaz_by_province.quantity > 100, 'many', 'not_many')

In [222]:
# Размечаем те регионы, где много пиццерий с помощью pandas

# Неправильный вариант
# pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1
# pizzaz_by_province[pizzaz_by_province['quantity'] <=100]['many_or_not_many_pd'] = 0

# Правильный вариант
pizzaz_by_province.loc[pizzaz_by_province['quantity'] > 100, 'many_or_not_many_pd'] = 1
pizzaz_by_province.loc[pizzaz_by_province['quantity'] <= 100, 'many_or_not_many_pd'] = 0

In [223]:
# Меняем тип данных в колонке
pizzaz_by_province['many_or_not_many_pd'] = pizzaz_by_province['many_or_not_many_pd'].astype('int')

In [237]:
# Рассчитываем сумму или среднее значение по колонке
pizzaz_by_province.quantity.sum()
pizzaz_by_province.quantity.mean()

46.29545454545455

In [ ]:
# Применение функции к элекментам колонки

In [241]:
def qdevtwo(x):
    if int(x) % 2 == 0:
        return 1
    else:
        return 0
        
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(lambda x: qdevtwo(x))

In [248]:
# Другой вариант(медленный)
dev2list = []
for i in range(pizzaz_by_province.shape[0]):
    val =  pizzaz_by_province.iloc[i,1]
    dev2list.append(qdevtwo(val))

pizzaz_by_province['dev2_loop'] = dev2list

In [251]:
pizzaz_by_province.head()

   province  quantity  many_or_not_many  many_or_not_many_pd  dev2  dev2_loop
30       NY       395                 1                    1     0          0
4        CA       219                 1                    1     0          0
34       PA       172                 1                    1     1          1
8        FL       145                 1                    1     0          0
38       TX       117                 1                    1     0          0

# Практическое задание

In [ ]:
#1. Взять датасет c пицериями и ублать лишние колонки :
#   'dateAdded', 'dateUpdated', 'address', 'keys',
#  'latitude', 'longitude','menuPageURL', 'menus.amountMax',
#  'menus.amountMin', 'postalCode', 'priceRangeCurrency'

#----- Ваш код здесь ----

In [ ]:
# 2. Заменить значения в колонке country c US на RU
#----- Ваш код здесь ----

In [ ]:
# 3. Добавить значения в колонке menus.currency RUB, а в тех регионах, где пицерий меньше 10 добавить BTC
#----- Ваш код здесь ----

In [ ]:
# 4. Рассчитайте количество пицерий в городе 'Santa Barbara' в переменную sb_pizza_num
#----- Ваш код здесь ----

In [ ]:
# 5. Рассчитайте количество пицерий в Калифорнии (province == CA) в ca_pizza_num
#----- Ваш код здесь ----

In [ ]:
# 6. Рассчитайте и выведите долю 'Santa Barbara' в пицериях Калифорнии
#----- Ваш код здесь ----

In [ ]:
# 7. Рассчитайте средние значения priceRangeMin и priceRangeMax по primaryCategories
#----- Ваш код здесь ----

In [ ]:
# 8. Выведите топ-5 самых популярных названий пицц по menus.name
#----- Ваш код здесь ----

In [ ]:
# 9. Выведите самый редкий ингридиент из описания menus.description (опционально)
#----- Ваш код здесь ----

In [ ]:
# 10. Создайте директорию pizza_provinces
#----- Ваш код здесь ----

In [ ]:
# 11. Сохраните в эту директорию файлы с пицериями по регионам provinces 
# В задании важно учесть условие:
#  Если регион начинается "A" то файл .xlsx, если 'N' то .csv, в остальных случаях .txt
#  Пример: 'AR.xlsx' содержит в себе все пицерии из региона 'AR'

#----- Ваш код здесь ----

In [ ]:
# 12. Напишите функцию, которая на вход будет принимать регион, а на выходе выдавать город, где больше всего пцццерий
#----- Ваш код здесь ----

In [226]:
# 13. Рассчитайте и запишите в колонку city_len количество символов в названии города 2мя способами
#----- Ваш код здесь ----