# Циклы, тернарные операторы, функции

### Логические операторы

* and 
* or 
* not 
* in
* not in
* Выполняется ли равенство ==  
* Выполняется ли неравенство !=
* Больше или меньше  >< >= <=

#### Тернарные операторы

In [1]:
# проверят выполняется ли условие
True != True

False

In [2]:
# if
a = 10
if a > 0:
    print('+')

+

In [3]:
# Дополнительное условие elif
a = -8
if a > 0:
    print('+')
elif -10 < a < -5 :
    print('-')

-

In [4]:
# Еще одно дополнительное условие elif
a = -10
if a > 0:
    print('+')
elif -10 < a < -5 :
    print('-')
elif -15 < a <= -10  :
    print('---')

---

In [5]:
# Альтернативное условие else
a = 0
if a > 0:
    print('+')
elif -10 < a < -5 :
    print('-')
elif -15 < a <= -10  :
    print('---')
else :
    print('...')

...

In [6]:
# пример использвоания if в цикле
beerlist = ['Bavaria', 'Corona', 'Ragegast','Lambic', 'Perroni']
for beer in beerlist:
    if beer == 'Corona':
        print('{} - Ой надо купить буррито!'.format(beer))
    elif beer == 'Perroni':
        print('{} - Ой надо взять пиццу'.format(beer))
    else:
        print('{} - Ой не забыть быть чипсоны'.format(beer))

Bavaria - Ой не забыть быть чипсоны
Corona - Ой надо купить буррито!
Ragegast - Ой не забыть быть чипсоны
Lambic - Ой не забыть быть чипсоны
Perroni - Ой надо взять пиццу

### Циклы

<img src="img\eat_sleep.png" align='left'>

In [7]:
# Для поочередного перебора элементов ЛЮБОЙ последовательности в Python есть специальный цикл
# переменной fruit при каждой итерации(полном обороте) цикла присваиваются элементы поочереди
fruits = ['apple','banana','mango']
for fruit in fruits:  
    print('fruit = ', fruit)

fruit =  apple
fruit =  banana
fruit =  mango

In [8]:
# со строкой тоже работает
for el in 'Hello':  
    print('el = ', el)

el =  H
el =  e
el =  l
el =  l
el =  o

In [9]:
# и с кортежем
for t_el in (1, 2, 3, 4, 5, 10):  
    print('t_el = ', t_el)

t_el =  1
t_el =  2
t_el =  3
t_el =  4
t_el =  5
t_el =  10

In [10]:
#  break позволяет выйти из цикла до его завершения
for el in [1, 2, 'Hello', 4]:
    print('el = ', el)
    break

el =  1

In [11]:
# continue позволяет пропустить итерацию
for i in 'hello world':
    if i == 'o':
        continue
    print(i * 2, end='')

hheellll  wwrrlldd

In [12]:
# else может проверить выход из цикла с помощью break и выполнить инструкцию в этом случае
for i in 'hello world':
#     print(i)
    if i == 'a':
        break
else:
    print('Буквы a в строке нет')

Буквы a в строке нет

### Генератор последовательности range

In [13]:
x = range(10)
x

range(0, 10)

In [14]:
type(x)

range

In [15]:
x = range(10, 20, 2)
list(x)

[10, 12, 14, 16, 18]

In [16]:
x = range(20, 10, -2)
list(x)

[20, 18, 16, 14, 12]

In [17]:
# for
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [18]:
alist = []
for i in range(10,60,10):   
    alist.append(i)
print(alist)

[10, 20, 30, 40, 50]

In [19]:
# Перебор элементов по индексам
fruits = ['apple', 'banana', 'mango']
i = 0
while len(fruits) > i:
    print('fruit = ', fruits[i])
    i += 1
#     i = i + 1

fruit =  apple
fruit =  banana
fruit =  mango

In [20]:
n = 10
while n > 0:
    n -= 1
    if n == 6:
        continue
    elif n == 5 :
        break
    print(n)

9
8
7

In [21]:
# переменной fruit при каждой итерации(полном обороте) цикла присваиваются элементы поочереди
for fruit in fruits:  
    print('fruit = ', fruit)

fruit =  apple
fruit =  banana
fruit =  mango

In [22]:
# С помощью цикла можно пройти по всем элементам списка
beerlist = ['Bavaria', 'Corona', 'Ragegast','Lambic', 'Perroni']
for beer in beerlist:
    print(beer)

Bavaria
Corona
Ragegast
Lambic
Perroni

In [23]:
# В цикле можно использовать индекс для вывода элементов списка
for i in range(len(beerlist)):
    print(beerlist[i])

Bavaria
Corona
Ragegast
Lambic
Perroni

In [24]:
# Итерируясь по списку можно выводить и индекс элемента
for i, beer in enumerate(beerlist):
    print(i, beer)

0 Bavaria
1 Corona
2 Ragegast
3 Lambic
4 Perroni

In [25]:
# enumerate выводить список кортежей из элементов списка
list(enumerate(beerlist))

[(0, 'Bavaria'), (1, 'Corona'), (2, 'Ragegast'), (3, 'Lambic'), (4, 'Perroni')]

In [26]:
# Сделаем словарь для примера
newdict = dict(zip(beerlist,list(range(50,100,10))))

In [27]:
# По словарю можно проходить циклом по ключам
for key in newdict.keys():
    print('Марка: {}'.format(key))

Марка: Bavaria
Марка: Corona
Марка: Ragegast
Марка: Lambic
Марка: Perroni

In [28]:
# По словарю можно проходить циклом по значениям
for val in newdict.values():
    print('купить {} бутылок или...'.format(val))

купить 50 бутылок или...
купить 60 бутылок или...
купить 70 бутылок или...
купить 80 бутылок или...
купить 90 бутылок или...

In [29]:
beerlist

['Bavaria', 'Corona', 'Ragegast', 'Lambic', 'Perroni']

In [30]:
list(range(50,100,10))

[50, 60, 70, 80, 90]

In [31]:
newdict

{'Bavaria': 50, 'Corona': 60, 'Ragegast': 70, 'Lambic': 80, 'Perroni': 90}

In [32]:
# По словарю можно проходить циклом по ключам и значениям
for key, value in newdict.items():
    print('Марка: {}, купить {} бутылок'.format(key,value))

Марка: Bavaria, купить 50 бутылок
Марка: Corona, купить 60 бутылок
Марка: Ragegast, купить 70 бутылок
Марка: Lambic, купить 80 бутылок
Марка: Perroni, купить 90 бутылок

In [33]:
# Если мы используем круглые скобки и range, то мы создаем гененератор
seq =(x for x in range(10))
# Функция next() позволяет переходить к следующему элементу генератора
print(next(seq))
print(next(seq))
print(next(seq))

0
1
2

# List comprehension (или  сладенькое)

In [34]:
# Допустим у нас есть список 
nums = [2, 4, 6, 8, 10]

In [35]:
# Обычный цикл
nums_new = []
for i in range(1, 6):
    nums_new.append(2*i)
nums_new

[2, 4, 6, 8, 10]

In [36]:
[(2*i) for i in range(1,6)]

[2, 4, 6, 8, 10]

In [37]:
{(2*i) for i in range(1,6)}

{2, 4, 6, 8, 10}

In [38]:
[num for num in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# Добавим условие
[num for num in range(1, 11) if num % 2 == 0]

[2, 4, 6, 8, 10]

In [40]:
# Добавим альтернативное условие
[num if num % 2 == 0 else '_' for num in range(1, 11)]

['_', 2, '_', 4, '_', 6, '_', 8, '_', 10]

In [41]:
# Циклы в цикле
numbers = [1, 2, 3]
letters = ['a','b','c']
[(i, j) for i in numbers for j in letters]

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [42]:
# Когда циклов много
# [(i, j, k) for i in numbers for j in letters for k in range(3)]

In [43]:
# Если на выходе нужен  список в списке
[[(i, j) for i in numbers] for j in letters]

[[(1, 'a'), (2, 'a'), (3, 'a')],
 [(1, 'b'), (2, 'b'), (3, 'b')],
 [(1, 'c'), (2, 'c'), (3, 'c')]]

In [44]:
# Генератор словарей
{chr(num): num for num in range(97,123)}

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

### tqdm

In [45]:
# Прогресс бар 
from tqdm import tqdm_notebook
x = [x**y for x in tqdm_notebook(range(1000)) for y in range(1000)]

HBox(children=(IntProgress(value=0, max=1000), HTML(value='')))

# Практика

In [46]:
# Создайте список  squares из значений последовательности возведеных в квадрат чисел
# Например: от 1 до 10
squares = [x**2 for x in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
# Создайте матрицу 5 на 5 используя список в списке
# С помощью лист комперхеншена
[[0 for y in range(5)] for x in range(5)]

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [48]:
# Создайте генератор из последовательности элементов от 0 до 30 в 
# Сохраните ее в переменную result
#----- Ваш код здесь ----
result = (x for x in range(30))
# Выведите первые 5 элементов result с помощью функции next()
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

# Выведете оставшиеся элементы с помощью цикла
for el in result:
    print(el)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [49]:
# Дан список fellowship 
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Создайте новый список new_fellowship из fellowship если длина элемента больше или равна 7
new_fellowship = [x for x in fellowship if len(x) >= 7 ]

# Выведите new_fellowship
new_fellowship

['samwise', 'aragorn', 'legolas', 'boromir']

In [50]:
# Данн список строк
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Создайте объект lengths - генератор из длин елементов списка 
lengths = (len(x) for x in lannister)

# Выведите значения lengths с помощью цикла
for el in lengths:
    print(el)

6
5
5
6
7

### Функции

<img src="img\func.png" width=400 align=left>

In [51]:
# Пример функции без аргументов
def hello_maker():
    
    """
    Функция выдает приветствие
    """
    print('hello')

In [52]:
# Пример функции с аргументом
def plus10(x):
    a = x + 10
    return a

result = plus10(15)
result

25

In [53]:
# Пример функции с аргмунтом, заданным по умолчанию
def plus10(x=5):
    a = x + 10
    return a

result = plus10()
result

15

In [54]:
# Пример функции в цикле
# Переменная в виде _ задана символично. 
# Она используется только для итерирования по последовательности
for _ in range(3):
    hello_maker()

hello
hello
hello

In [55]:
zoo_animals = ['monkey', 'lion', 'elephant', 'bear']

# Пример функции с двумя аргументами
def zoo_checker(zoo, animal):
    if animal in zoo:
        print('{} live in the zoo'.format(animal))
    else:
        print('{} live in the jungle'.format(animal))

In [56]:
zoo_checker(zoo=['monkey', 'lion', 'elephant', 'bear'], animal='monkey')
zoo_checker(zoo_animals, 'python')

monkey live in the zoo
python live in the jungle

In [57]:
# Когда мы не знаем все аргументы, которые передаются в функцию
# Мы указываем *args в качестве аргумента
# В этом случае функция получает на вход список
def hello_maker2(*args):
    for name in args:
        print('Hi {}'.format(name))

hello_maker2('Peter', 'John', 'Jack', 'Everybody')

Hi Peter
Hi John
Hi Jack
Hi Everybody

In [58]:
# Когда мы не знаем все именованные аргументы, которые передаются в функцию
# Нужно использовать **kwargs в качестве аргумента
# В этом случае функция получает на вход словарь

def man_info(**kwargs):
    for k,v in kwargs.items():
        print('{} : {}'.format(k,v))
        
man_info(name='Peter', car='Tesla', food='vegan', country='EU')

name : Peter
car : Tesla
food : vegan
country : EU

In [59]:
# В функциях важно прописывать комментарии в docstring
# Это может в будущем разобраться коде
def hello_maker2(*args):
    
    """
    Приветсвует всех по передаваемым в качестве аргументов именам
    """
    for name in args:
        print('Hi {}'.format(name))

In [60]:
hello_maker2('Dude')

Hi Dude

In [61]:
# Напишите 2 функции, которые будут переводить сообщение посимвольно в цифры и обратно 
# Используйтпе ord и chr
# Должно получиться что-то подобное:
# Сообщение: Houston, we have a problem -> [72,111,117,115,..., 32,98,108,101,109]
# [72,111,117,115,..., 32,98,108,101,109] -> Houston, we have a problem
def symbols2nums(s):
    nums = [ord(x) for x in s]
    return nums

def nums2symbols(nlist):
    sym = ''.join([chr(x) for x in nlist])
    return sym

In [62]:
nums2symbols([72,111,117,115,116,111])

'Housto'

### Анонимные функции

In [63]:
lamfunc = lambda x:x*2
lamfunc(3)

6

In [64]:
lamfunc_y = lambda x, y: x*2 + y
lamfunc_y(3,4)

10

In [65]:
# Пример использования лямбда функции для сортировки словаря
beers = {'Жигулевское':10, 'Гинес':100, 'Хугарден':70, 'Шпатен':90}
sorted(beers.items(), key=lambda x:x[1], reverse=True)

[('Гинес', 100), ('Шпатен', 90), ('Хугарден', 70), ('Жигулевское', 10)]

### Map

In [66]:
# map может применить функцию ко всем элеметам списка
# Результаы можно выевести в виде списка
list(map(lambda x:x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [67]:
# Кортежа
tuple(map(lambda x:x**2, [1,2,3,4]))

(1, 4, 9, 16)

In [68]:
# Множества
set(map(lambda x:x**2, [1,2,3,4]))

{1, 4, 9, 16}

In [69]:
# В map можно передовать список из функций
def multiply(x):
    return (x*x)

def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

### Filter

In [70]:
# С помощью filter можно проверять элементы списка на выполнение условий
# условие выполняется - True
number_list = list(range(-5, 5))
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

### Reduce

In [71]:
# Может быть полезен когда нужно получить результат вычислений с элементами списка
product = 1
somelist = [1, 2, 3, 4]
for num in somelist:
    product = product * num

product

24

In [72]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
product

24

# zip

In [73]:
# Функция zip собирает сочетания элементов списков по их индексам
# Первый с первым, второй со вторым и так далее
a = list(range(10))
b = list(range(10,20))
c = list(range(20,30))
tuple(zip(a,b,c))

((0, 10, 20),
 (1, 11, 21),
 (2, 12, 22),
 (3, 13, 23),
 (4, 14, 24),
 (5, 15, 25),
 (6, 16, 26),
 (7, 17, 27),
 (8, 18, 28),
 (9, 19, 29))

In [74]:
list(zip(a,b,c))

[(0, 10, 20),
 (1, 11, 21),
 (2, 12, 22),
 (3, 13, 23),
 (4, 14, 24),
 (5, 15, 25),
 (6, 16, 26),
 (7, 17, 27),
 (8, 18, 28),
 (9, 19, 29)]

In [9]:
# для создания словарей из 2х списков удобно пользоваться функцией zip
beerlist = ['Bavaria', 'Corona', 'Ragegast','Lambic', 'Perroni']
alist = [x for x in range(10,60,10)]
newdict = dict(zip(beerlist, alist))
newdict

{'Bavaria': 10, 'Corona': 20, 'Ragegast': 30, 'Lambic': 40, 'Perroni': 50}

# Про Pandas

<img src="img\pandas_pic.jpg" width =400 align=left>

In [82]:
# Подгружем пандас
import pandas as pd
import numpy as np
# Загружаем датасет с помощью метода read_csv
pizza = pd.read_csv('Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_May19.csv')

In [83]:
# Теперь в переменной pizza находится объект DataFrame
# Первые строчки таблицы
pizza.head(2)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ

In [84]:
# Информация о таблице
pizza.info()
# Размеры таблицы
pizza.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
id                    10000 non-null object
dateAdded             10000 non-null object
dateUpdated           10000 non-null object
address               10000 non-null object
categories            10000 non-null object
primaryCategories     10000 non-null object
city                  10000 non-null object
country               10000 non-null object
keys                  10000 non-null object
latitude              10000 non-null float64
longitude             10000 non-null float64
menuPageURL           1679 non-null object
menus.amountMax       10000 non-null float64
menus.amountMin       10000 non-null float64
menus.currency        10000 non-null object
menus.dateSeen        10000 non-null object
menus.description     3718 non-null object
menus.name            10000 non-null object
name                  10000 non-null object
postalCode            9996 non-null object
priceRangeCurrency    10000 non-null object
priceRangeMin         10000 non-null int64
priceRangeMax         10000 non-null int64
province              10000 non-null object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

(10000, 24)

In [85]:
# Если нужно удалить колонки используем метод 
pizza = pizza.drop(['menus.dateSeen'], axis=1)

# Другой вариант с inplace=True
# pizza.drop(['menus.dateSeen'], axis=1, inplace=True)

In [86]:
# Выводим названия колонок с помощью атрибута columns
pizza.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.currency',
       'menus.description', 'menus.name', 'name', 'postalCode',
       'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax', 'province'],
      dtype='object')

In [87]:
# Количество уникальных значений в колонке можно получить методом nunique()
pizza.name.nunique()
# Получить только уникальные значения в колонке можно с помощью метода unique()
# Функция выдает массив тид данных array его можно перевести в список .tolist()
pizza.name.unique()

array(['Shotgun Dans Pizza', 'Sauce Pizza Wine', 'Mios Pizzeria', ...,
       'Bella Italia', 'Wood and Fire', "Carbone's Pizzeria"],
      dtype=object)

In [88]:
# Группируем с помощью groupby
# количество уникальных названий по регионам 
# группируем по регионам 'province' - в круглых скобках
# агрегируемую колонку указываем в квадратных скобках

pizzaz_by_province = pizza.groupby('province')['name'].nunique()

# когда колонка одна groupby выдает объект Series
# чтобы его перевести в DataFrame используется .reset_index()

pizzaz_by_province = pizzaz_by_province.reset_index()

In [89]:
# pizza.groupby('province')['priceRangeMax'].mean()

In [90]:
# проверяем названия колонок
pizzaz_by_province.columns

Index(['province', 'name'], dtype='object')

In [91]:
# Меняем названия на те что нам нравятся
pizzaz_by_province.columns = ['province', 'quantity']

In [92]:
# pizzaz_by_province

In [93]:
# Сортируем по полю quantity
# с помощью метода sort_values
pizzaz_by_province.sort_values(by='quantity', ascending=False, inplace=True)

In [94]:
pizzaz_by_province.head(3)

   province  quantity
30       NY       395
4        CA       219
34       PA       172

In [95]:
# Размечаем те регионы, где много пиццерий с помощью numpy
pizzaz_by_province['many_or_not_many'] = np.where(pizzaz_by_province.quantity > 100, 1, 0)
# pizzaz_by_province['many_or_not_many'] = np.where(pizzaz_by_province.quantity > 100, 'many', 'not_many')

In [96]:
# Размечаем те регионы, где много пиццерий с помощью pandas

# Неправильный вариант
# pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1
# pizzaz_by_province[pizzaz_by_province['quantity'] <=100]['many_or_not_many_pd'] = 0

# # Правильный вариант
pizzaz_by_province.loc[pizzaz_by_province['quantity'] > 100, 'many_or_not_many_pd'] = 1
pizzaz_by_province.loc[pizzaz_by_province['quantity'] <= 100, 'many_or_not_many_pd'] = 0

In [97]:
# pizzaz_by_province

In [98]:
# Меняем тип данных в колонке с помощью метода .astype()
pizzaz_by_province['many_or_not_many_pd'] = pizzaz_by_province['many_or_not_many_pd'].astype('int')

In [99]:
# Рассчитываем сумму или среднее значений по колонке
pizzaz_by_province.quantity.sum()
pizzaz_by_province.quantity.mean()

46.29545454545455

In [100]:
# Применение функции к элекментам колонки

In [101]:
def qdevtwo(x):
    
    '''
    Функция проверяет 
        если число делится на 2 без остатка, выдает 1,
        в противном случае выдает 0
    '''
    if int(x) % 2 == 0:
        return 1
    else:
        return 0
        
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(lambda x: qdevtwo(x))

In [102]:
# Другой вариант (обычно более медленный и неудобный )
# Цикл проходит по всем элементам колонки, используя их в качестве аргументов для qdevtwo()

dev2list = []
for i in range(pizzaz_by_province.shape[0]):
    val =  pizzaz_by_province.iloc[i,1]
    dev2list.append(qdevtwo(val))

pizzaz_by_province['dev2_loop'] = dev2list

In [103]:
pizzaz_by_province.head()

   province  quantity  many_or_not_many  many_or_not_many_pd  dev2  dev2_loop
30       NY       395                 1                    1     0          0
4        CA       219                 1                    1     0          0
34       PA       172                 1                    1     1          1
8        FL       145                 1                    1     0          0
38       TX       117                 1                    1     0          0

# Практическое задание

In [104]:
#1. Взять датасет c пицериями и ублать лишние колонки :
#   'dateAdded', 'dateUpdated', 'address', 'keys',
#  'latitude', 'longitude','menuPageURL', 'menus.amountMax',
#  'menus.amountMin', 'postalCode', 'priceRangeCurrency'

pizzacols = pizza.columns.tolist()

dropcols = ['dateAdded', 'dateUpdated', 'address',
            'keys','latitude', 'longitude','menuPageURL',
            'menus.amountMax','menus.amountMin', 'postalCode', 'priceRangeCurrency']

# Можно использовать метод drop
pizza.drop(dropcols, axis=1, inplace=True)

# Можно просто переопределить pizza, выбрав те колонки, которые нам нужны
# pizza = pizza[[x for x in pizzacols if x not in dropcols]]
pizza.head(3)

,id,categories,primaryCategories,city,country,menus.currency,menus.description,menus.name,name,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,USD,NaN,Cheese Pizza,Shotgun Dans Pizza,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,USD,NaN,Pizza Cookie,Sauce Pizza Wine,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,USD,a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,0,25,OH

In [105]:
# 2. Заменить значения в колонке country c US на RU
pizza.country = 'RU'
# или то же самое только в скобках
# pizza['country'] = 'RU'
pizza.head(3)

,id,categories,primaryCategories,city,country,menus.currency,menus.description,menus.name,name,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,RU,USD,NaN,Cheese Pizza,Shotgun Dans Pizza,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,RU,USD,NaN,Pizza Cookie,Sauce Pizza Wine,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,RU,USD,a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,0,25,OH

In [107]:
# 3. Добавить значения в колонке menus.currency RUB, а в тех регионах, где пицерий меньше 10 добавить BTC
# Читерский способ 1.
pizza = pd.merge(pizza, pizzaz_by_province[['province','quantity']], on='province', how='inner')
# Читерский способ 2.
prov_qu = dict(zip(pizzaz_by_province['province'].tolist(),pizzaz_by_province['quantity'].tolist()))
pizza['quantity'] = pizza['province'].map(prov_qu)

In [108]:
pizza['menus.currency'] = np.where(pizza['quantity'] < 10,  'USD,RUB,BTC','USD,RUB',)

In [109]:
pizza.head()

,id,categories,primaryCategories,city,country,menus.currency,menus.description,menus.name,name,priceRangeMin,priceRangeMax,province,quantity_x,quantity_y,quantity
0,AVz3Y-7h3D1zeR_xDAqm,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,RU,"USD,RUB",NaN,Cheese Pizza,Shotgun Dans Pizza,0,25,AR,10,10,10
1,AWEKVN4rRxPSIh2RrOUT,Pizza Place,Accommodation & Food Services,Conway,RU,"USD,RUB",NaN,Taco Pizza,Larrys Pizza Conway,0,25,AR,10,10,10
2,AVwcnkKN_7pvs4fzxHf-,"Pizza,Restaurant,Karaoke,Pizza Place,Restaurants",Accommodation & Food Services,Fayetteville,RU,"USD,RUB",NaN,6 Personal Pizza,US Pizza Co,0,25,AR,10,10,10
3,AVwcnkKN_7pvs4fzxHf-,"Pizza,Restaurant,Karaoke,Pizza Place,Restaurants",Accommodation & Food Services,Fayetteville,RU,"USD,RUB",Pizza sauce and fresh mozzarella cheese 6ampquot,Cheezy Pizza,US Pizza Co,0,25,AR,10,10,10
4,AVwcnkKN_7pvs4fzxHf-,"Pizza,Restaurant,Karaoke,Pizza Place,Restaurants",Accommodation & Food Services,Fayetteville,RU,"USD,RUB",NaN,U.s. Pizza Style Wings,US Pizza Co,0,25,AR,10,10,10

In [110]:
# 4. Рассчитайте количество пицерий в городе 'Santa Barbara' в переменную sb_pizza_num
term1 = pizza.city == 'Santa Barbara'
term2 = pizza.province == 'CA'
sb_pizza_num = pizza[term1 & term2].name.nunique()
sb_pizza_num

2

In [111]:
# 5. Рассчитайте количество пицерий в Калифорнии (province == CA) в ca_pizza_num
ca_pizza_num =  pizza[pizza.province == 'CA'].name.nunique()
ca_pizza_num

219

In [112]:
# 6. Рассчитайте и выведите долю 'Santa Barbara' в пицериях Калифорнии
round(sb_pizza_num / ca_pizza_num * 100,2)

0.91

In [113]:
# 7. Рассчитайте средние значения priceRangeMin и priceRangeMax по primaryCategories
pizza.groupby('primaryCategories')['priceRangeMin','priceRangeMax'].mean()

,priceRangeMin,priceRangeMax
primaryCategories,,
Accommodation & Food Services,4.617519,27.744777
"Accommodation & Food Services,Management of Companies & Enterprises",16.304348,34.782609
"Educational Services,Accommodation & Food Services",0.000000,25.000000
Management of Companies & Enterprises,6.976744,29.186047
Retail,5.555556,28.333333
"Retail,Accommodation & Food Services",6.818182,25.818182
"Wholesale Trade,Accommodation & Food Services",0.000000,25.000000
"Wholesale Trade,Accommodation & Food Services,Manufacturing",0.000000,25.000000

In [114]:
# 8. Выведите топ-5 самых популярных названий пицц по menus.name
# Группируем по пиццам и считаем по количество по id
pizza_g = pizza.groupby('menus.name')['id'].count()
# Переводим в DataFrame
pizza_g = pizza_g.reset_index()
# Сортируем по убыванию
pizza_g = pizza_g.sort_values(by='id', ascending=False)
# Выводим первые 5 строк отсортированной таблицы
pizza_g.head()

                 menus.name   id
1106           Cheese Pizza  299
4628            White Pizza  225
1943         Hawaiian Pizza  149
960   Buffalo Chicken Pizza  112
3052                  Pizza  111

In [115]:
# 9. Выведите самый редкий ингридиент из описания menus.description (опционально)
pizza_content =  pizza[~pizza['menus.description'].isnull()]['menus.description'].tolist()
pizza_content = [x.replace('ampcomma',',') for x in pizza_content]
pizza_content = [x.replace('ampamp','') for x in pizza_content]
pizza_content = [x.replace('6ampquot','') for x in pizza_content]
pizza_content = [x.split(',') for x in pizza_content]
pizza_content_all_in_one = []

for p in pizza_content:
    pizza_content_all_in_one.extend(p)
pizza_content_all_in_one = [x.strip().lower() for x in pizza_content_all_in_one] 

from collections import Counter
pizza_dict = Counter(pizza_content_all_in_one)
top4ik = sorted(pizza_dict.items(),
                key=lambda x: x[1],
               reverse=True) 
top4ik[0][0]

'pepperoni'

In [118]:
top4ik[:5]

[('pepperoni', 209),
 ('mushrooms', 184),
 ('onions', 173),
 ('mozzarella', 137),
 ('green peppers', 121)]

In [119]:
# 10. Создайте директорию pizza_provinces
# Вариант №1 создать ее руками

In [120]:
# Вариант №2 с использованием консольной команды mkdir
# !mkdir pizza_provinces
# !ls выводим файлы и папки, проверяем есть ли pizza_provinces
# !rm -r pizza_provinces удаляем при необходимости

In [121]:
# Вариант №3 с помощью пакета os
import os
# os.mkdir('pizza_provinces')  создает директорию
# os.listdir() показывает содержимое текущей директории

In [122]:
# фантазия на эту тему...
from shutil import rmtree
def make_new_dir(dirname):
    
    """
    Функция создает новую директорию dirname. Если такая директория уже существует, предлагает удалить ее и создать заново.
    - dirname str
    """
    
    if os.path.isdir(dirname):

        x = input('Такая директория уже существует! \nУдалить {} и создать заново ? да(y) или нет(n)\n'.format(dirname))
        if x == 'y':
            rmtree(dirname) # удалит директорию и все что в ней есть
            os.mkdir(dirname)
            print('Сделано! Директория {} создана.'.format(dirname))
        elif x == 'n':
            print('ОК! Не трогаем {}'.format(dirname))
        else:
            'Моя твоя не понимать, введи либо y либо n'
    else:
        os.mkdir(dirname)
        print('Директория {} создана'.format(dirname))

In [123]:
make_new_dir(dirname='pizza_provinces')

Такая директория уже существует!
Удалить pizza_provinces и создать заново ? да(y) или нет(n)
y
Сделано! Директория pizza_provinces создана.

In [124]:
# 11. Сохраните в эту директорию файлы с пицериями по регионам provinces 
# В задании важно учесть условие:
#  Если регион начинается "A" то файл .xlsx, если 'N' то .csv, в остальных случаях .txt
#  Пример: 'AR.xlsx' содержит в себе все пицерии из региона 'AR'

from tqdm import tqdm_notebook
provinces = pizza.province.unique().tolist()
for prov in tqdm_notebook(provinces):
    if prov.startswith('A'): # для проверки содержания начала строки удобно использовать метод startswith('A') 
        filename = ''.join([prov,'.xlsx']) 
        fpth = os.path.join('pizza_provinces',filename)
        pizza[pizza.province == prov].to_excel(fpth, index=False)
    
    elif prov[0] == 'N': # или можно взять 1й символ из строки
        filename = ''.join([prov,'.csv']) 
        fpth = os.path.join('pizza_provinces',filename)
        pizza[pizza.province == prov].to_csv(fpth)
    else:
        filename = ''.join([prov,'.txt']) 
        fpth = os.path.join('pizza_provinces',filename)
        pizza[pizza.province == prov].to_csv(fpth)

HBox(children=(IntProgress(value=0, max=44), HTML(value='')))

In [125]:
# 12. Напишите функцию, которая на вход будет принимать регион, а на выходе выдавать город, где больше всего пцццерий
provinces = pizza.province.unique().tolist()
def max_pizza_city(df, region):
    '''
    Функция выводит город, где больше всего пицерий
    df: DataFrame с пиццами и пиццериями
    region: str, регион, в котором проверяем пиццерии
    '''
    pizzareg = df[df.province == region] # выбираем регион из большой таблицы
    pizzareg_group = pizzareg.groupby('city')['name'].nunique() # считаем пиццы по городам
    pizzareg_group = pizzareg_group.reset_index() # переводим Series в DataFrame
    pizzareg_group = pizzareg_group.sort_values(by='name', ascending=False) # сортируем по убыванию
    top_city = pizzareg_group.city.tolist()[0] # переводим в список, из которого берем 1й элемент
    return top_city

In [126]:
max_pizza_city(pizza, 'CA')

'Los Angeles'

In [127]:
# 13. Рассчитайте и запишите в колонку city_len количество символов в названии города 2мя способами
# Способ 1й (быстрый)
pizza['city_len'] = pizza.city.apply(lambda x: len(x))

In [128]:
# Способ 2й (помедленнее)
pizza['city_len'] = 0 # создаем колонку
for i in tqdm_notebook(range(pizza.shape[0])): 
    city = pizza.iloc[i,3] # выбираем город
    city_len = len(city) # считаем длину 
    pizza.iloc[i,12] = city_len # записываем в таблицу

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))