# Что еще за Python ?

<img src='https://romain.dorgueil.net/images/python.png' align='left'>


* #### Язык общего назначения
* #### Интерпретируемый 
* #### С динамической типизацией
* #### Объекто-ориентированный - в питоне все объекты

#  Зачем нам Python?
<br><br>

* #### Причины популярности
* #### Сравнение с другими языками
* #### Востребованы ли профессионалы, умеющие работать с ним?
* #### Насколько он сложен в освоении?
* #### Сфера применения

<br><br>

<hr>

#  Вопросы к слушателям
<br><br><br>
1. #### <s>Какие цели вы ставите, придя на курс?</s> Как вы планируете его использовать в работе?
2. #### Какие языки программирования знаете?
3. #### Работали с данным языком?
<br><br><br>
<hr>

# Предки Python
Питон произошел в начале 90х из языков программирования ABC и Modula 3

<img src='img\evolution.png' align='left'>

## Автор питона и BDFL

* <a href='https://gvanrossum.github.io'>Гвидо Ван Россум</a> <a href='https://docs.python.org/3.3/glossary.html#term-bdfl'>(BDFL) </a>
 
<img src='https://avatars2.githubusercontent.com/u/2894642?s=400&v=4' align='left'>

# Версии Python

*  2.7 (old school)
*  3.7 (new school)

<img src='img\IMG_3315.jpg' align='left'>

# Напутствия кодерам

### PEP 8 - Style Guide for Python Code

* <a href="https://www.python.org/dev/peps/pep-0008/">оригинал на python.org</a>
* <a href="https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html">версия на русском</a>

### PEP 20 - The Zen of Python

* <a href="https://www.python.org/dev/peps/pep-0020/">оригинал на python.org</a>

Красивое лучше, чем уродливое. <br>
Явное лучше, чем неявное. <br>
Простое лучше, чем сложное. <br>
Сложное лучше, чем запутанное. <br>
Плоское лучше, чем вложенное. <br>
Разреженное лучше, чем плотное. <br>
Читаемость имеет значение. <br>
Особые случаи не настолько особые, чтобы нарушать правила. <br>
При этом практичность важнее безупречности. <br>
Ошибки никогда не должны замалчиваться. <br>
Если не замалчиваются явно. <br>
Встретив двусмысленность, отбрось искушение угадать. <br>
Должен существовать один — и, желательно, только один — очевидный способ сделать это. <br>
Хотя он поначалу может быть и не очевиден, если вы не голландец. <br>
Сейчас лучше, чем никогда. <br>
Хотя никогда зачастую лучше, чем прямо сейчас. <br>
Если реализацию сложно объяснить — идея плоха. <br>
Если реализацию легко объяснить — идея, возможно, хороша. <br>
Пространства имѐн — отличная штука! <br>
Будем делать их побольше!<br>

In [2]:
# Если вдруг потребуется дзен, его можно загрузить с помощью модуля this
# import this

# Комментарии

In [5]:
# type(4.5)
# print('Hi')

In [7]:
#

'\nПоэма \n...\n....\n..\n'

## Основные  типы данных

* Число(int, float) # 1 и 2.5 
* Строка (str) # ‘stroka’ 
* Булево (True, False)
* None

### Boolean (проще говоря да или нет)

In [27]:
True

True

In [29]:
False

False

In [30]:
True == True

True

In [31]:
not True == False

True

# Операторы

* Присвоение = <br>
* Сложение +
* Вычитание -
* Деление /
* Целочисленное деление //
* Остаток от деления %
* Возведение в степень **

# Python как калькулятор

In [5]:
# Сложение и вычитание
print(5 + 5)
print(5 - 5)

In [ ]:
# Произведение и деление 
print(3 * 5)
print(10 / 2)

In [ ]:
# Возведение в степень
print(4 ** 2)

In [8]:
# Остаток от деления
print(18 % 7)

In [ ]:
# Как увеличатся твои 100 долларов через 7 лет при ставке 10%?
print(100*(1.1**7))

### Integer, Float , Complex

In [6]:
30

30

In [7]:
30 + 10 / 2 - 5 * 1 ** 2

30.0

In [8]:
30 % 4

2

In [9]:
30 // 4

7

### String

In [10]:
"Ciao bella"

'Ciao bella'

In [32]:
"Ciao bella! " * 2

'Ciao bella! Ciao bella! '

In [12]:
'Ciao' + ' bella!'

'Ciao bella!'

In [33]:
' '.join(['Ciao','bella!'])

'Ciao bella!'

In [13]:
'Ciao bella!'[0]

'C'

In [14]:
'Ciao bella!'[::2]

'Ca el!'

# Пример для практики

In [8]:
# Дана строка s - "У Мэри есть овечка"
s = "У Мэри есть овечка"

In [2]:
# Выведите первый элемент строки s
#----- Ваш код здесь ----

In [3]:
# Выведите предпоследний элемент строки s
#----- Ваш код здесь ----

In [4]:
# Выведите с 7 по 10 элементы строки s
#----- Ваш код здесь ----

In [5]:
# Выведите каждый второй элемент с 1 по 8 
#----- Ваш код здесь ----

In [6]:
# Выведите каждый 4й элемент строки 
#----- Ваш код здесь ----

In [7]:
# Разверните строку в обратную сторону(поменяйте символы местами чтобы 1й стал последним и так далее)
#----- Ваш код здесь ----

In [ ]:
# Разделить строку по пробелу и объединить обратно по символу "_"
#----- Ваш код здесь ----

# Переменные

* Тип переменной определяется при исполнении <br>
* Названия переменных чувствительны к регистру <br>
* Переменная задается присвоением:

In [12]:
a = 1 
b = 'stroka'
c = True

In [16]:
type(a)

int

In [17]:
type(b)

str

In [19]:
type(c)

bool

Переменная, которой не задано значение, не существует:

In [15]:
# z

# Пример для практики

In [22]:
savings = 100
factor = 1.1
desc = "compound interest"

In [23]:
# Присвойте переменной year1 произведение  savings и factor

#----- Ваш код здесь ----

In [32]:
# Выведите тип переменной year1

#----- Ваш код здесь ----

In [25]:
# Присвойте doubledesc сумму переменной desc и desc

#----- Ваш код здесь ----

In [33]:
# Выведите doubledesc

#----- Ваш код здесь ----

# Еще один практический пример

In [21]:
# Даны переменные a = 5 и b = 10
# Поменять значения переменных местами. Вывести новые значения на экран.
# Решите задачу, используя только две переменные.

#----- Ваш код здесь ----

# Коллекции, контейнеры или струкутруы данных

### Список

In [34]:
list()

[]

In [35]:
type([])

list

In [36]:
x = []

In [39]:
x

[]

In [40]:
x = ['Hi', True, 12, 3.4, 4, 4, 4, 4]

In [41]:
x[0]

'Hi'

In [42]:
x[-1]

4

In [21]:
# Добавляем элемент в список
x.append('3')

In [ ]:
# Расширяет список, добавляя в него элементы списка из аргумента
x.extend(['10'])

In [22]:
# Для получения индекса элемента используется метод index
x.index('3')

8

In [23]:
# Для удаления элемента из списка используется метод remove
x.remove('3')

In [43]:
# Также может использоваться функция del
del(x[0])

In [50]:
max([1,2,3,4,5,6,7])

7

In [51]:
min([1,2,3,4,5,6,7])

1

In [52]:
sum([1,2,3,4,5,6,7])

28

In [53]:
len([1,2,3,4,5,6,7])

7

# Практический пример

In [44]:
# Допустим у нас есть список площадей areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0,  # 1 этаж
         "bedroom", 10.75, "bathroom", 9.50]                      # 2 этаж

# Присвойте переменной downstairs все что находится на 1 этаже
#----- Ваш код здесь ----

In [45]:
# Присвойте переменной upstairs все что находится на 2 этаже
#----- Ваш код здесь ----

In [48]:
# Выведите переменные downstairs и upstairs
#----- Ваш код здесь ----

In [ ]:
# Присвойте переменной downstairs все что находится на 1 этаже альтернативным способом 
#----- Ваш код здесь ----

In [47]:
# Присвойте переменной upstairs все что находится на 2 этаже альтернативным способом 
#----- Ваш код здесь ----

Еще немного практики на тему площадей

In [30]:
# Переменные, для измерения площади помещения, в квадратных метрах)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [31]:
# Информация о доме - список со списками
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

In [38]:
# Выведите переменную house

#----- Ваш код здесь ----

In [39]:
# Выведите тип переменной house

#----- Ваш код здесь ----

In [ ]:
# Выведите первый элемент переменной house

#----- Ваш код здесь ----

In [ ]:
# Выведите размер спальни из переменной house

#----- Ваш код здесь ----

In [43]:
# Присвойте переменной eat_sleep_area площать гостиной и спальнии из переменной house

#----- Ваш код здесь ----

И снова немного площадей

In [ ]:
# Допустим у нас есть лист areas
areas = ["hallway", 11.25, "kitchen", 18.0,
         "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Скорректируйте площадь ванной комнаты на 10.50
#----- Ваш код здесь ----

In [22]:
# Поменяйте название гостиной "living room" to "chill zone"
#----- Ваш код здесь ----

In [ ]:
# Добавьте бильярдную "poolhouse" размером 24.5 к списку areas 
# присвойте результат в новый список - переменную areas_1
#----- Ваш код здесь ----

In [ ]:
# Добавьте гараж ["garage"] в виде отдельного списка к списку areas_1
# добавьте также его площадь в виде отдельного списка ['15.45']
# Присвойте результат переменной areas_2
areas_2 = areas_1 + ["garage"] + [15.45]
#----- Ваш код здесь ----

### Кортеж

In [55]:
tuple(['Hi', True, 12, 3.4])

('Hi', True, 12, 3.4)

In [56]:
x = tuple(['Hi', True, 12, 3.4])

In [64]:
# del(x[1])

In [62]:
# x[-1] = 5

### Словарь

Прелюдия к словарям

In [ ]:
# Даны два списка - страны и соответствующие им столицы
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Присвойте идекс Германии в переменную ind_ger

#----- Ваш код здесь ----

# Выведите столицу Германии с помощью переменной ind_ger

#----- Ваш код здесь ----

In [27]:
# Словарь задается с помощью команды dict() или фигурных скобок 
dict()

{}

In [28]:
# 1. Вариант
{'пиво': ['стаут', 'лагер', 'эль'],
 'вино':['белое', 'красное','розовое']}

{'вино': ['белое', 'красное', 'розовое'], 'пиво': ['стаут', 'лагер', 'эль']}

In [68]:
# 2. Вариант
dict(пиво = ['стаут', 'лагер', 'эль'], вино =['белое', 'красное','розовое'] )

{'пиво': ['стаут', 'лагер', 'эль'], 'вино': ['белое', 'красное', 'розовое']}

In [45]:
drinks = {'пиво': ['стаут', 'лагер', 'эль'], 'вино':['белое', 'красное','розовое']}

In [46]:
drinks['вино'][0]

'белое'

In [47]:
# Выводим ключи словаря с помощью метода keys()
drinks.keys()

dict_keys(['пиво', 'вино'])

In [48]:
# Выводим значения словаря с помощью метода values()
drinks.values()

dict_values([['стаут', 'лагер', 'эль'], ['белое', 'красное', 'розовое']])

In [49]:
# Получаем элементы  словаря с помощью метода items()
drinks.items()

dict_items([('пиво', ['стаут', 'лагер', 'эль']), ('вино', ['белое', 'красное', 'розовое'])])

In [58]:
# Практика

In [59]:
# Даны два списка - страны и соответствующие им столицы
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']


# Создайте словарь europe из списков countries и capitals
#----- Ваш код здесь ----

# Выведите europe
#----- Ваш код здесь ----

In [ ]:
# Еще практика

In [61]:
# Дан словарь стран и столиц
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Выведите ключи словаря europe
#----- Ваш код здесь ----

# Выведите значение по ключу 'norway'
#----- Ваш код здесь ----

In [ ]:
# Снова практика

In [ ]:
# Дан словарь стран и столиц
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Исправьте столицу Германии в словаре europe
#----- Ваш код здесь ----

# Удалите Австралию из словаря europe
#----- Ваш код здесь ----

# Выведите словарь europe
#----- Ваш код здесь ----

### Множество

In [31]:
# Множество - это набор уникальных элементов 

x = ['Hi', True, 3.4, 12]

In [20]:
# Множество задается с помощью команды set() и или массива в фигурных скобках
set(x)

{12, 3.4, 'Hi', True}

In [40]:
type({2,4,5,5})

set

In [41]:
y = {2,4,5,5}

In [85]:
x = set(x)

In [84]:
y = set([3,3,3,2,5,6,12])

In [76]:
y.issubset(x)

False

In [77]:
z = set([3])

In [78]:
z.issubset(x)

False

In [79]:
x.intersection(y)

{12}

In [82]:
x.union(y)

{12, 2, 3, 3.4, 5, 6, 'Hi', True}

In [86]:
x + y

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [50]:
x.difference(y)

{12, 3.4, 'Hi', True}

In [51]:
x - y

{12, 3.4, 'Hi', True}

In [61]:
x.add(10)

In [62]:
x

{10, 12, 3.4, 'Hi', True}

In [63]:
x.remove(10)
x

{12, 3.4, 'Hi', True}

In [ ]:
# Практика

In [ ]:
ash_pokedex  :  ['Pikachu', 'Bulbasaur', 'Koffing', 'Spearow', 'Vulpix', 'Wigglytuff', 'Zubat', 'Rattata', 'Psyduck', 'Squirtle'] 

misty_pokedex:  ['Krabby', 'Horsea', 'Slowbro', 'Tentacool', 'Vaporeon', 'Magikarp', 'Poliwag', 'Starmie', 'Psyduck', 'Squirtle']

In [ ]:
# Convert both lists to sets
ash_set = ____
misty_set = ____

# Find the Pokémon that exist in both sets
both = ____.____(____)
print(both)

# Find the Pokémon that Ash has and Misty does not have
ash_only = ____.____(____)
print(ash_only)

# Find the Pokémon that are in only one set (not both)
unique_to_set = ____.____(____)
print(unique_to_set)

In [ ]:
# Convert Brock's Pokédex to a set
brock_pokedex_set = ____
print(brock_pokedex_set)

# Bonus

# Работа с таблицами

In [71]:
import pandas as pd

In [111]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [14]:
pd.Series()

Series([], dtype: float64)

In [10]:
df = pd.read_csv('education.csv', sep=';', low_memory=False)

In [11]:
df.head(1)

,Personnel number SAP,Full Name,Job code,Level of management,Functional block,Item type,Item Id,Item revision Date,Item Title,Content Package ID,...,OBJ_score.scaled,OBJ_progress_measure,OBJ_FINISHED,OBJ_COMPLETE,OBJ_COMPLETE_DATE,OBJ_LAST_UPD_USER,OBJ_LAST_UPD_TSTMP,COM_LEARN_comment,Run Options,CMI_suspend_data
0,1,NaN,м5/СМО/Производство/Операции РБ,СПЕЦ,Розничный бизнес,Онлайн-обучение,PAO-18-K-ONL-FS-VR1P-RTB1807,22.06.2018 18:26 Московское время (Мск),"Видеорелиз для сотрудников опер. вертикали ББ,...",FS-VR1P-RTB1807_vid_TB_OV,...,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,"razd1(vid1(00:00:13/00:02:47),vid2(00:00:07/00..."

In [18]:
df.shape

(242493, 56)

In [115]:
x = df.columns.tolist()

In [12]:
x = df['CMI_suspend_data'][0]

In [13]:
type(x)

str

In [14]:
x

'razd1(vid1(00:00:13/00:02:47),vid2(00:00:07/00:01:50),vid3(00:00:13/00:04:13),quest1(00:00:23@multiple_choice@5@0@1/2/3),quest2(00:00:07@choice@4@0@1),quest3(00:00:11@choice@4@0@1),page1(00:00:03)),razd2(vid1(00:00:08/00:01:19),quest1(00:00:04@choice@4@0@1),page1(00:00:01)),razd3(vid1(00:00:09/00:02:59),vid2(00:00:11/00:01:03),quest1(00:00:12@multiple_choice@5@0@1/2/3),quest2(00:00:07@choice@4@0@1),page1(00:00:03)),razd4(vid1(00:00:17/00:03:06),vid2(00:00:08/00:00:57),quest1(00:00:12@choice@4@0@1),quest2(00:00:31@multiple_choice@6@2@1/2/3/4/5),page1(00:00:32)),razd5(vid1(00:00:06/00:01:12),vid2(00:00:11/00:02:02),vid3(00:00:04/00:01:39),vid4(--:--:--/00:01:02),vid5(00:00:05/00:03:11),vid6(00:00:08/00:00:47),vid7(--:--:--/00:00:44),vid8(00:00:04/00:00:54),vid9(00:00:04/00:00:49),quest1(00:00:06@multiple_choice@5@0@1/2/3),quest2(00:00:17@multiple_choice@6@0@1/2/3/4),quest3(00:00:07@choice@4@0@1),quest4(00:00:09@choice@4@0@1),quest5(00:00:10@multiple_choice@5@0@1/2/3),quest6(00:00:17@multiple_choice@5@0@1/2/3),quest7(00:00:17@multiple_choice@5@0@1/2),quest8(00:00:11@choice@4@0@1),quest9(00:00:06@choice@4@0@1),page1(00:00:01))#vid_total(00:02:08)#vid_total_expected(00:30:34)#quest_total(00:03:27)#page_total(00:00:40)#wrong(2@78)#sessions(try1(27.06.2018, 12:17:45/27.06.2018, 12:31:51/cut/session_pauses(12)/browser(userAgent: Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; .NET4.0E; .NET4.0C; .NET CLR 3.5.30729; .NET CLR 2.0.50727; .NET CLR 3.0.30729; rv:11.0) like Gecko vendor: unknown; isBrowser: true;isMobile: false;isTablet: false;isTouch: false; OSVersion: 6.3; OSName: Windows 8.1)/resolution(1440x900)/cut/completed))#total_pauses(12)#total_continues(15)#total_pause_time(00:00:42)'

In [15]:
import re

In [16]:
pattern = 'isMobile: false'

In [17]:
re.findall(pattern, x)

['isMobile: false']

In [29]:
len(re.findall(pattern, x))

1

In [18]:
df['CMI_suspend_data'] = df['CMI_suspend_data'].apply(lambda x: str(x))

In [19]:
df['CMI_suspend_data'].apply(lambda x: len(re.findall('isMobile: false', x))).sum()

630160

In [122]:
df['isMF'] = df['CMI_suspend_data'].apply(lambda x: len(re.findall('isMobile: false', x)))

In [300]:
#df.to_excel('L1.xlsx', index=False)

### Полезные ссылки

* <a href="http://jupyter-notebook.readthedocs.io/en/stable/index.html">Про Jypyter Notebook </a>
* <a href="https://www.python.org/">Python сообщество - python.org</a>
* <a href="http://www.moscowpython.ru/">Python сообщество в Москве< - moscowpython.ru</a>
* <a href="https://stackoverflow.com">Ответы на 99% вопросов есть на stackoverflow.com</a>
<hr>
* <a href="https://www.datacamp.com/">Dataсamp</a>
* <a href="https://www.codeavengers.com/profile#python">Codeavengers</a>
* <a href="https://sberbank-school.ru/education/query/python">Python в виртуальной школе</a>
* <a href="https://hyperskill.org/knowledge-map?v=table">Knowledge map по Python</a>
* <a href="rutracker.ru">Разные курсы и книги есть на торрентах</a>
* <a href="rutracker.ru">Разные курсы и книги есть на торрентах</a>

# Упражнение 2

Для чисел от 0 до 100 вывести само число, а затем «fizz», если число делится на 3, и «buzz», если оно делится
на 5. 

Подсказка: оператор взятия остатка - %

In [1]:
# решение
a = [x for x in range(100)]

In [7]:
for x in a:
    if x % 3 == 0:
        print('fizz', x)
    elif x % 5 == 0 :
        print('buzz', x)
    else :
        print(x)

fizz 0
1
2
fizz 3
4
buzz 5
fizz 6
7
8
fizz 9
buzz 10
11
fizz 12
13
14
fizz 15
16
17
fizz 18
19
buzz 20
fizz 21
22
23
fizz 24
buzz 25
26
fizz 27
28
29
fizz 30
31
32
fizz 33
34
buzz 35
fizz 36
37
38
fizz 39
buzz 40
41
fizz 42
43
44
fizz 45
46
47
fizz 48
49
buzz 50
fizz 51
52
53
fizz 54
buzz 55
56
fizz 57
58
59
fizz 60
61
62
fizz 63
64
buzz 65
fizz 66
67
68
fizz 69
buzz 70
71
fizz 72
73
74
fizz 75
76
77
fizz 78
79
buzz 80
fizz 81
82
83
fizz 84
buzz 85
86
fizz 87
88
89
fizz 90
91
92
fizz 93
94
buzz 95
fizz 96
97
98
fizz 99

#### Пример цикла

In [81]:
a = [x for x in range(100)]

In [85]:
a = []
for x in range(100):
    a.append(x)

#### Пример проверки выполнения условия

In [91]:
if a == True:
    print('True')
else:
    print('Not true')

# Упражнение 3

 Поменять значения переменных местами. Вывести новые значения на экран.
 Решите задачу, используя только две переменные.

In [57]:
a = 1
b = 3

In [60]:
# решение

In [8]:
import pandas as pd 

df = pd.read_csv('blabla.csv')

df.to_csv('')
df.to_excel('')